@page "/IndexTailwind"
@layout MainLayoutClean
@inject IJSRuntime JS

<div class="flex flex-row bg-orange-50 dark:bg-gray-950 z-20 px-3 md:px-8 lg:px-12 xl:px-16 py-2 top-0 items-center justify-start w-full fixed">
    <h1 class="text-2xl mr-3 font-bold dark:text-white">CxP Components</h1>
    <div class="relative inline-block w-16 h-8 align-middle select-none shadow-md dark:shadow-light-md rounded-full transition-all duration-500 ease-in-out">
        <input type="checkbox" checked @onclick="ToggleMode" name="toggle" id="toggle" class="toggle-checkbox absolute block border-2 border-orange-50 dark:border-gray-800 w-8 h-8 rounded-full bg-orange-500 appearance-none cursor-pointer transition-all duration-500 ease-in-out" />
        <label for="toggle" class="bg-orange-50 flex flex-row justify-evenly items-center toggle-label overflow-hidden h-8 rounded-full cursor-pointer transition-all duration-500 ease-in-out">
            <svg class="w-4 h-4 fill-current text-white" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.23214 6.1955C5.4881 6.4521 5.90248 6.4521 6.15776 6.1955C6.41308 5.9389 6.41308 5.5235 6.15776 5.26759L4.76932 3.875C4.51336 3.6184 4.09898 3.6184 3.84366 3.875C3.5877 4.1316 3.5877 4.547 3.84366 4.80295L5.23214 6.1955ZM5.62622 16.0183L4.25082 17.397C3.99749 17.651 3.99749 18.0625 4.25082 18.3164C4.50415 18.5704 4.91463 18.5704 5.16796 18.3164L6.54335 16.9377C6.79669 16.6837 6.79669 16.2722 6.54335 16.0183C6.29002 15.7643 5.87958 15.7643 5.62622 16.0183ZM11.2495 4.08105C11.6109 4.08105 11.9042 3.78705 11.9042 3.4248V1.45605C11.9042 1.0938 11.6109 0.799805 11.2495 0.799805C10.8882 0.799805 10.5949 1.0938 10.5949 1.45605V3.4248C10.5949 3.78705 10.8882 4.08105 11.2495 4.08105ZM17.5478 5.90541L18.9232 4.52662C19.1765 4.27266 19.1765 3.86117 18.9232 3.60722C18.6698 3.35326 18.2593 3.35326 18.006 3.60722L16.6306 4.98601C16.3773 5.23997 16.3773 5.65146 16.6306 5.90541C16.884 6.1594 17.2944 6.1594 17.5478 5.90541ZM3.39393 10.6436H1.43002C1.06867 10.6436 0.775391 10.9376 0.775391 11.2998C0.775391 11.6621 1.06867 11.9561 1.43002 11.9561H3.39393C3.75528 11.9561 4.04856 11.6621 4.04856 11.2998C4.04856 10.9376 3.75528 10.6436 3.39393 10.6436ZM11.2495 18.5186C10.8882 18.5186 10.5949 18.8126 10.5949 19.1748V21.1436C10.5949 21.5058 10.8882 21.7998 11.2495 21.7998C11.6109 21.7998 11.9042 21.5058 11.9042 21.1436V19.1748C11.9042 18.8126 11.6109 18.5186 11.2495 18.5186ZM21.069 10.6436H19.1051C18.7438 10.6436 18.4505 10.9376 18.4505 11.2998C18.4505 11.6621 18.7438 11.9561 19.1051 11.9561H21.069C21.4304 11.9561 21.7237 11.6621 21.7237 11.2998C21.7237 10.9376 21.4304 10.6436 21.069 10.6436ZM17.2669 16.4041C17.011 16.1475 16.5966 16.1475 16.3413 16.4041C16.0853 16.6607 16.0853 17.0761 16.3413 17.3321L17.7297 18.724C17.9857 18.9806 18.4001 18.9806 18.6554 18.724C18.9107 18.4673 18.9114 18.052 18.6554 17.796L17.2669 16.4041ZM11.2495 5.38961C7.99337 5.38961 5.35389 8.03561 5.35389 11.2998C5.35389 14.564 7.99337 17.21 11.2495 17.21C14.5057 17.21 17.1452 14.564 17.1452 11.2998C17.1452 8.03561 14.5057 5.38961 11.2495 5.38961Z" />
            </svg>
            <svg class="w-4 h-4 fill-current text-gray-900" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2661 16.1663C10.659 16.1586 5.30457 10.7912 5.29688 4.16753C5.29401 2.81646 5.5213 1.47461 5.96879 0.200195C1.84652 2.53297 -0.367089 7.21243 0.439808 11.8884C1.24701 16.5643 4.89991 20.2265 9.56438 21.0354C14.2287 21.8443 18.8966 19.6253 21.2237 15.4927C19.9524 15.9416 18.6141 16.1693 17.2661 16.1663Z" />
            </svg>
        </label>
    </div>
</div>

<div class="bg-orange-50 h-full px-3 md:px-8 lg:px-12 xl:px-16  py-14 dark:bg-gray-950">
    <!-- IsoLogotipo -->
    <div class="">
        <h3 class="sticky z-10 top-12 text-xl pb-1 font-bold dark:text-white bg-orange-50 dark:bg-gray-950">IsoLogotipo</h3>
        <div class="flex flex-col place-items-start pb-10">
            <div id="Cxp-IsoLogotipo" class="p-1 mt-5 w-full max-w-sm">
                <div id="Cxp-IsoLogoTipo-Wrapper" class="flex flex-col items-center">
                    <div id="Cxp-Isotipo" class="flex-1 flex-grow-0 mb-8">
                        <svg class="h-52 fill-current text-orange-500" viewBox="0 0 186 241" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path d="M173.53 138.179C173.584 138.272 173.636 138.371 173.683 138.472C184.499 161.794 183.265 188.551 170.541 206.635C160.572 220.793 142.897 229.623 120.766 231.497C115.275 231.961 109.725 232.1 104.311 231.909C101.897 231.824 99.8119 230.976 98.7336 229.642C97.901 228.611 97.6885 227.319 98.1174 225.906C98.4456 224.822 99.234 223.958 99.9972 223.122L99.998 223.121C100.466 222.61 100.91 222.126 101.227 221.614C102.107 220.211 102.674 219.002 103.021 217.815C103.855 214.932 103.995 212.128 103.427 209.706C101.945 203.387 97.6482 199.074 91.9326 198.169C91.0184 198.025 90.083 197.951 89.1537 197.951C83.1561 197.951 77.5844 200.991 74.9586 205.697C71.8546 211.255 72.4486 217.95 76.4729 222.751C77.8824 224.433 79.443 226.627 78.998 228.665C78.7533 229.782 77.9378 230.715 76.5766 231.436C75.4852 232.014 73.9971 232.296 72.0288 232.296C69.8591 232.296 67.4438 231.947 65.5036 231.666L65.4142 231.653C64.6512 231.543 63.9476 231.442 63.341 231.373C47.696 229.626 26.6053 223.857 14.9715 206.306C5.48325 191.991 2.58261 172.759 7.01361 153.542C9.21955 143.971 13.1391 135.084 18.6625 127.128C21.1395 123.558 23.8784 120.072 26.5307 116.695L26.6237 116.577C29.6542 112.723 32.7871 108.738 35.5347 104.63C37.9883 100.963 40.7158 96.5773 42.3418 91.8487C43.6235 88.1178 44.0564 84.4134 44.5145 80.4928L44.5228 80.4221C44.6469 79.3584 44.7714 78.2913 44.9152 77.2189C46.4073 66.0819 49.5677 57.2996 54.5776 50.3695C62.8194 38.969 76.0198 32.1675 89.8887 32.1675C95.3255 32.1675 100.683 33.2172 105.818 35.2727C114.486 38.7464 120.718 44.5393 123.366 51.5551C126.207 59.0825 126.276 67.2829 123.563 74.5897C119.473 85.5944 111.416 94.6111 103.626 103.265C100.565 106.665 97.3996 110.312 94.5271 113.897C88.153 121.853 83.8126 130.636 81.6268 139.477C79.3343 148.747 79.59 156.791 80.2484 166.823H97.0905C96.6938 155.879 97.1579 143.262 103.108 131.98C107.905 122.882 115.031 114.583 121.922 107.07C124.105 104.687 126.363 102.225 128.513 99.7582C129.402 98.7396 130.222 97.6051 131.088 96.4049L131.091 96.4C132.383 94.6122 133.719 92.763 135.307 91.3243C136.273 90.4497 137.591 89.9673 139.02 89.9673C139.923 89.9673 140.828 90.1643 141.631 90.5382C142.934 91.141 143.725 92.5984 144.787 94.7497C146.286 97.7957 147.955 100.707 149.745 103.403C152.547 107.629 155.7 111.764 158.753 115.763L158.786 115.806C164.072 122.74 169.538 129.909 173.382 137.822C173.436 137.942 173.489 138.061 173.53 138.179Z" />
                            </g>
                            <g>
                                <path d="M87.5503 20.0049C89.8247 19.6638 91.3279 18.8385 94.3423 19.6748C92.3528 15.114 87.7114 6.01616 84.4745 1.7992C84.1946 1.4408 83.8553 1.13711 83.4979 0.879935C83.4727 0.867168 83.4566 0.847104 83.4415 0.83616C82.0974 -0.0867546 80.3647 -0.293772 79.1978 0.457693C79.1766 0.464076 79.1595 0.478668 79.1404 0.4887C77.6311 1.44901 77.5576 3.4827 78.7789 5.02758C81.4832 8.50037 85.8025 16.3041 87.5503 20.0049Z" />
                            </g>
                        </svg>
                    </div>
                    <div id="Cxp-Logotipo" class="flex-1 flex-grow-0 mb-8">
                        <svg class="h-20 fill-current text-orange-500" viewBox="0 0 184 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path d="M19.0316 20.5948C19.0316 21.2402 18.8271 21.8216 18.4145 22.3436C18.0018 22.8655 17.3562 23.5277 16.4789 24.3224C15.5755 25.1171 14.8816 25.812 14.4032 26.4091C13.9212 27.0029 13.682 27.6898 13.682 28.461C13.682 29.1816 13.9348 29.7945 14.4429 30.3052C14.9485 30.8136 15.6015 31.0696 16.3983 31.0696C17.3835 31.0696 18.0898 30.7901 18.5149 30.2322C18.9399 29.671 19.1555 28.9582 19.1555 28.0872C19.1555 27.6898 19.1159 27.3015 19.0316 26.9322H26.6043C26.6303 27.1084 26.6576 27.3015 26.6873 27.526C26.7146 27.7516 26.727 28.0232 26.727 28.3487C26.727 29.9134 26.2189 31.2941 25.204 32.4872C24.1904 33.6793 22.8867 34.5975 21.2956 35.244C19.7057 35.8894 18.07 36.2149 16.3983 36.2149H14.8345C13.133 36.2149 11.5171 35.8714 9.99789 35.189C8.47492 34.5043 7.25555 33.5547 6.33359 32.338C5.41411 31.1178 4.95312 29.7282 4.95312 28.1635C4.95312 25.7525 6.12169 23.7904 8.45261 22.2728L10.1813 21.1515C10.7835 20.7542 11.2296 20.4152 11.5159 20.1312C11.8046 19.8427 11.962 19.5397 11.993 19.2141V18.3959H19.0304V20.5948H19.0316ZM19.36 10.2311V17.0523H11.4986V10.2311H19.36Z" />
                                <path d="M45.5006 1.95428C47.295 2.76245 48.7151 3.97804 49.761 5.60785C50.8031 7.23654 51.3248 9.23002 51.3248 11.5928H43.2168V10.2885C43.2168 9.14248 42.8252 8.2389 42.0445 7.56431C41.2614 6.89308 40.2812 6.55633 39.1014 6.55633H38.897C37.7445 6.55633 36.7705 6.92225 35.9725 7.64063C35.1781 8.36124 34.7804 9.24351 34.7804 10.2885V17.4812C34.7804 18.5262 35.1781 19.4085 35.9725 20.1302C36.7705 20.8486 37.7445 21.21 38.897 21.21H39.4707C40.6517 21.21 41.6331 20.8789 42.4126 20.22C43.197 19.5611 43.5886 18.6497 43.5886 17.4812V16.2521H51.3248C51.3248 18.4364 50.823 20.3514 49.8229 21.9924C48.8204 23.6301 47.4424 24.8861 45.6865 25.7571C43.9306 26.627 41.9417 27.0614 39.7198 27.0614H38.5686C36.1224 27.0614 33.9092 26.6147 31.9203 25.719C29.9314 24.8255 28.3601 23.5335 27.2077 21.8408C26.0552 20.1538 25.4802 18.1648 25.4802 15.8784V11.9262C25.4802 9.76322 26.0627 7.83259 27.2275 6.12982C28.3936 4.42818 29.95 3.10589 31.8993 2.15854C33.8448 1.21792 35.9589 0.744263 38.2365 0.744263H39.3889C41.6653 0.744263 43.7026 1.14835 45.5006 1.95428Z" />
                                <path d="M74.8666 17.7231C74.8666 18.1934 74.9918 18.5413 75.2347 18.7669C75.4825 18.9892 75.7861 19.1014 76.143 19.1014C76.661 19.1014 77.1443 18.9892 77.583 18.7669V22.7528C76.7056 23.3253 75.3202 23.6137 73.4267 23.6137C71.6695 23.6137 70.3262 23.3578 69.3956 22.8471C68.4613 22.3397 67.7884 21.5899 67.3757 20.5954C66.911 21.2375 66.144 21.9042 65.0721 22.5867C64.0051 23.2691 62.8217 23.6126 61.5366 23.6126H60.3792C59.254 23.6126 58.2193 23.3623 57.2738 22.865C56.3271 22.3723 55.5798 21.6921 55.0296 20.8356C54.4819 19.977 54.2068 19.0397 54.2068 18.0205V4.18954H62.3545V16.1191C62.3545 16.7409 62.5689 17.2685 62.9952 17.7017C63.4202 18.1361 63.932 18.3539 64.5392 18.3539C65.1427 18.3539 65.6557 18.1361 66.0795 17.7017C66.5058 17.2685 66.7202 16.7409 66.7202 16.1191V4.18954H74.8679V17.7231H74.8666Z" />
                                <path d="M98.3034 9.39352C99.9912 10.5126 100.836 11.9662 100.836 13.7532V21.6227C100.836 22.093 100.96 22.441 101.204 22.6666C101.452 22.8877 101.753 23 102.111 23C102.631 23 103.113 22.8877 103.551 22.6666V26.6524C102.67 27.2238 101.287 27.5111 99.3951 27.5111C97.6367 27.5111 96.2501 27.244 95.2377 26.7086C94.2203 26.172 93.592 25.4357 93.3454 24.4917C92.4656 25.4087 91.4978 26.1428 90.4432 26.6883C89.3874 27.2339 88.0887 27.51 86.5546 27.51C84.3575 27.51 82.5756 27.125 81.2038 26.3561C79.8345 25.5839 79.1467 24.0674 79.1467 21.8079C79.1467 20.0939 79.6821 18.7705 80.7515 17.8367C81.8221 16.905 83.3501 16.2596 85.3402 15.8981C87.3279 15.5367 89.8608 15.3583 92.9315 15.3583V14.2751C92.9315 13.5825 92.6799 13.0348 92.1719 12.6352C91.6626 12.239 91.0256 12.0425 90.2598 12.0425C89.6266 12.0425 89.0305 12.2064 88.4667 12.5409C87.9041 12.8787 87.6228 13.2952 87.6228 13.7924V13.9406H79.8047C79.7762 13.8699 79.7614 13.6914 79.7614 13.4187C79.7614 12.3512 80.1678 11.3859 80.9783 10.5306C81.7837 9.67302 82.9362 8.99057 84.4344 8.48098C85.9288 7.97138 87.6662 7.71659 89.639 7.71659H90.9984C94.1819 7.71659 96.6156 8.27331 98.3034 9.39352ZM88.9388 19.4013C88.0887 19.838 87.6674 20.4396 87.6674 21.2096C87.6674 22.4028 88.489 22.9988 90.1359 22.9988C90.903 22.9988 91.5622 22.7564 92.1112 22.2726C92.6564 21.7866 92.9315 21.1614 92.9315 20.3902V18.7492C91.1223 18.7492 89.7914 18.967 88.9388 19.4013ZM98.2848 0.410503L93.0988 5.70176H88.2424L91.9873 0.29599H98.1993L98.2848 0.410503Z" />
                                <path d="M123.489 4.93599C124.435 5.43324 125.181 6.11009 125.731 6.96877C126.279 7.8252 126.555 8.76471 126.555 9.78166V23.6126H118.406V11.6831C118.406 11.0613 118.193 10.5337 117.767 10.0993C117.341 9.66267 116.828 9.4449 116.226 9.4449C115.62 9.4449 115.107 9.66267 114.682 10.0993C114.256 10.5337 114.041 11.0613 114.041 11.6831V23.6126H105.894V4.56333H112.025L112.849 7.32121C114.36 5.23344 116.484 4.18954 119.229 4.18954H120.381C121.508 4.18954 122.544 4.43874 123.489 4.93599Z" />
                                <path d="M139.891 7.21152H144.828V12.505H139.891V19.5485C139.891 20.5441 140.103 21.2198 140.528 21.5824C140.954 21.9404 141.524 22.1223 142.237 22.1223C142.566 22.1223 143 22.0796 143.533 21.9921C144.069 21.9034 144.488 21.8001 144.788 21.6733V25.8511C144.16 26.0991 143.279 26.2967 142.157 26.4471C141.032 26.5941 140.069 26.6693 139.274 26.6693C136.859 26.6693 135 26.272 133.696 25.4773C132.393 24.6837 131.743 23.3289 131.743 21.4129V12.505H129.441V7.21152H132.073L134.913 1.13565H139.893V7.21152H139.891Z" />
                                <path d="M164.601 5.21926C166.263 6.02519 167.565 7.14877 168.508 8.59225C169.457 10.0301 169.928 11.6722 169.928 13.5131V14.2955C169.928 16.1576 169.456 17.8087 168.508 19.2522C167.564 20.6934 166.263 21.8126 164.601 22.6073C162.939 23.402 161.08 23.7993 159.024 23.7993H157.708C155.648 23.7993 153.789 23.3975 152.131 22.5882C150.469 21.7823 149.167 20.6531 148.22 19.2152C147.273 17.7717 146.8 16.134 146.8 14.2943V13.512C146.8 11.6712 147.273 10.029 148.22 8.59112C149.168 7.14764 150.469 6.02406 152.131 5.21813C153.789 4.40659 155.648 4.00363 157.708 4.00363H159.024C161.08 4.00475 162.939 4.40773 164.601 5.21926ZM156.349 9.27694C155.799 9.78766 155.529 10.4061 155.529 11.1245V16.6784C155.529 17.4013 155.799 18.013 156.349 18.5249C156.896 19.0334 157.571 19.2893 158.365 19.2893C159.164 19.2893 159.836 19.0334 160.385 18.5249C160.93 18.0142 161.204 17.4013 161.204 16.6784V11.1245C161.204 10.405 160.93 9.78766 160.385 9.27694C159.836 8.77183 159.164 8.5159 158.365 8.5159C157.571 8.51702 156.896 8.77183 156.349 9.27694Z" />
                                <path d="M41.577 58.348H51.1572V55.5598H50.3901L43.4085 48.1662L49.9787 41.4639H51.0357V38.6679H42.3911V41.4639H44.3763L41.4369 45.4363H40.1172L37.1803 41.4639H39.163V38.6679H29.6708V41.4639H30.4341L37.329 48.77L30.6609 55.5598H29.6138V58.348H38.3427V55.5598H36.2075L39.3129 51.5807H40.6042L43.6984 55.5598H41.577V58.348Z" />
                                <path d="M80.2169 37.0647C81.5454 37.7629 82.5987 38.7158 83.3657 39.9169C84.134 41.1235 84.5182 42.4357 84.5182 43.8511V44.6705C84.5182 46.0871 84.1328 47.3981 83.3657 48.6047C82.5987 49.8102 81.5454 50.7587 80.2169 51.4558C78.8836 52.1517 77.4374 52.5008 75.8773 52.5008H69.4967V61.5949H60.8521V36.0219H75.8773C77.4374 36.0208 78.8836 36.3688 80.2169 37.0647ZM69.4954 46.7964H73.2812C74.0507 46.7964 74.653 46.5652 75.0916 46.105C75.5315 45.647 75.7509 45.1307 75.7509 44.5571V44.1115C75.7509 43.5379 75.5377 43.0227 75.1114 42.5648C74.6864 42.1079 74.078 41.8756 73.2799 41.8756H69.4942V46.7964H69.4954Z" />
                                <path d="M103.877 40.0095C105.398 40.7425 106.566 41.7583 107.374 43.0502C108.185 44.341 108.589 45.8216 108.589 47.4839V49.7962H94.8834V51.5865C94.8834 52.4306 95.1795 53.0794 95.7681 53.525C96.358 53.9706 97.1164 54.1962 98.0532 54.1962C99.0136 54.1962 99.7472 53.9302 100.254 53.3948C100.762 52.8605 101.017 52.1208 101.017 51.1746H108.544C108.544 52.5945 108.139 53.8741 107.332 55.0145C106.522 56.1605 105.343 57.0596 103.792 57.7174C102.242 58.3763 100.41 58.7063 98.2986 58.7063H97.679C95.4844 58.7063 93.5178 58.3392 91.7755 57.6074C90.0332 56.8755 88.6589 55.8036 87.6589 54.4028C86.6563 52.9986 86.1594 51.3272 86.1594 49.3876V48.2326C86.1594 46.293 86.6316 44.6216 87.5796 43.2186C88.5238 41.8133 89.8473 40.7447 91.5524 40.0117C93.2489 39.281 95.1994 38.9128 97.3927 38.9128H98.425C100.535 38.9106 102.356 39.2776 103.877 40.0095ZM95.7099 44.1828C95.1597 44.6935 94.8846 45.3108 94.8846 46.0303V46.5534H100.564V46.0303C100.564 45.3108 100.291 44.6946 99.741 44.1828C99.1933 43.6777 98.5204 43.4206 97.7261 43.4206C96.928 43.4218 96.2551 43.6777 95.7099 44.1828Z" />
                                <path d="M128.612 40.4556C129.615 41.367 130.114 42.6118 130.114 44.2046V44.8354L130.034 46.253L129.95 47.1836H123.281V46.2912C123.281 45.7704 123.111 45.327 122.77 44.969C122.426 44.6042 122.022 44.4268 121.554 44.4268C121.061 44.4268 120.644 44.6042 120.302 44.969C119.957 45.3259 119.785 45.7704 119.785 46.2912V58.5181H111.842V39.4689H117.934L118.838 42.2268C119.004 41.9282 119.32 41.532 119.785 41.0347C120.251 40.5375 120.884 40.0919 121.677 39.6912C122.475 39.2961 123.38 39.0962 124.393 39.0962C126.205 39.0951 127.613 39.5509 128.612 40.4556Z" />
                                <path d="M150.752 40.5881C152.441 41.7072 153.284 43.1608 153.284 44.9488V52.8184C153.284 53.2876 153.41 53.6367 153.654 53.8612C153.902 54.0834 154.203 54.1956 154.56 54.1956C155.08 54.1956 155.562 54.0834 156.001 53.8612V57.8481C155.119 58.4195 153.736 58.7068 151.845 58.7068C150.086 58.7068 148.701 58.4396 147.689 57.9031C146.671 57.3688 146.04 56.6314 145.793 55.6874C144.918 56.6044 143.948 57.3385 142.893 57.8852C141.838 58.4307 140.54 58.7057 139.003 58.7057C136.807 58.7057 135.027 58.3207 133.652 57.5495C132.283 56.7784 131.596 55.262 131.596 53.0036C131.596 51.2885 132.134 49.9662 133.201 49.0323C134.272 48.1007 135.799 47.4542 137.789 47.0927C139.779 46.7313 142.309 46.5539 145.381 46.5539V45.4696C145.381 44.7793 145.13 44.2305 144.622 43.832C144.111 43.4346 143.475 43.2371 142.71 43.2371C142.076 43.2371 141.48 43.401 140.918 43.7377C140.355 44.0744 140.073 44.4909 140.073 44.9881V45.1363H132.256C132.226 45.0633 132.214 44.8871 132.214 44.6143C132.214 43.5469 132.618 42.5816 133.428 41.7263C134.233 40.8664 135.387 40.1851 136.883 39.6755C138.377 39.1671 140.116 38.9111 142.089 38.9111H143.449C146.632 38.9111 149.067 39.469 150.752 40.5881ZM141.391 50.597C140.54 51.0337 140.118 51.6342 140.118 52.4042C140.118 53.5985 140.937 54.1945 142.587 54.1945C143.353 54.1945 144.013 53.9509 144.561 53.4683C145.106 52.9823 145.382 52.3582 145.382 51.5859V49.9437C143.573 49.9437 142.241 50.1615 141.391 50.597Z" />
                                <path d="M174.007 36.8591C175.531 37.5427 176.749 38.4923 177.67 39.7124C178.588 40.928 179.047 42.321 179.047 43.8857C179.047 45.2282 178.725 46.372 178.079 47.3159C177.435 48.261 176.578 49.0804 175.508 49.7775L173.822 50.8943C173.162 51.3422 172.699 51.6946 172.425 51.9551C172.148 52.2155 172.011 52.5073 172.011 52.8317V53.6499H164.973V51.4522C164.973 50.8079 165.178 50.2186 165.59 49.6989C166.001 49.1758 166.646 48.5203 167.526 47.7256C168.429 46.9309 169.123 46.2339 169.602 45.639C170.08 45.0385 170.323 44.3594 170.323 43.5882C170.323 42.8654 170.068 42.2514 169.562 41.7407C169.053 41.2345 168.401 40.9785 167.607 40.9785C166.591 40.9785 165.892 41.2636 165.509 41.835C165.123 42.4052 164.929 43.1639 164.929 44.1091V44.6321C164.929 44.8286 164.949 44.9891 164.973 45.1182H157.402C157.375 44.9419 157.344 44.741 157.319 44.5176C157.292 44.2954 157.277 44.0226 157.277 43.6982C157.277 42.1324 157.784 40.7552 158.801 39.5598C159.816 38.3677 161.121 37.4484 162.709 36.803C164.3 36.1576 165.931 35.8343 167.607 35.8343H169.169C170.872 35.8343 172.482 36.1744 174.007 36.8591ZM172.627 54.9599V61.7776H164.766V54.9599H172.627Z" />
                            </g>
                        </svg>
                    </div>
                    <div id="Cxp-IsoLogotipo-Identificador" class="flex flex-row justify-between items-start flex-1 px-3 flex-grow-0">
                        <svg class="w-1 h-8 mr-8 stroke-current stroke-2 text-orange-500 opacity-80" viewBox="0 0 3 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 40.4674V0.777649" />
                        </svg>

                        <p class="text-orange-900 dark:text-white text-sm md:text-base text-center font-bold">Herramienta para dividir gastos entre amigos.</p>

                        <svg class="w-1 h-8 ml-8 stroke-current stroke-2 text-orange-500 opacity-80" viewBox="0 0 3 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 40.4674V0.777649" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Buttons -->
    <div class="">
        <h3 class="sticky top-12 text-xl pb-1 font-bold dark:text-white bg-orange-50 dark:bg-gray-950">Buttons</h3>
        <div class="flex flex-wrap items-center pb-10">
            <div class="p-1">
                <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light-md px-3 py-1 text-sm font-extrabold rounded-xl">Button</button>
            </div>
            <div class="p-1">
                <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light-md p-2 text-sm font-extrabold rounded-xl">
                    <svg class="w-3 h-3 stroke-current text-orange-500" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.37028 2.13311L7.36693 3.12935L6.37028 2.13311ZM7.01119 1.25545L4.31629 3.95054C4.17704 4.0896 4.08208 4.26677 4.04336 4.45972L3.79443 5.70585L5.04048 5.45644C5.23341 5.41785 5.41034 5.32326 5.54963 5.18397L8.24453 2.48888C8.32551 2.40789 8.38975 2.31174 8.43358 2.20593C8.4774 2.10011 8.49996 1.9867 8.49996 1.87216C8.49996 1.75763 8.4774 1.64422 8.43358 1.5384C8.38975 1.43259 8.32551 1.33644 8.24453 1.25545C8.16355 1.17446 8.06741 1.11022 7.9616 1.06639C7.85579 1.02256 7.74238 1 7.62786 1C7.51333 1 7.39993 1.02256 7.29412 1.06639C7.18831 1.11022 7.09217 1.17446 7.01119 1.25545V1.25545Z" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M7.55841 6.64698V8.05876C7.55841 8.30838 7.45926 8.54777 7.28277 8.72428C7.10627 8.90078 6.86689 8.99994 6.61729 8.99994H1.44112C1.19152 8.99994 0.952143 8.90078 0.775648 8.72428C0.599154 8.54777 0.5 8.30838 0.5 8.05876V2.88223C0.5 2.63261 0.599154 2.39321 0.775648 2.21671C0.952143 2.0402 1.19152 1.94104 1.44112 1.94104H2.8528" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <div class="p-1">
                <button class="p-1 m-2">
                    <svg class="w-4 h-4 fill-current text-orange-500 " viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73959 0.400024H2.03082C0.909005 0.400024 0 1.31671 0 2.44799V5.17964C0 6.31093 0.909005 7.22761 2.03082 7.22761H4.73959C5.86141 7.22761 6.77041 6.31093 6.77041 5.17964V2.44799C6.77041 1.31671 5.86141 0.400024 4.73959 0.400024ZM13.9692 0.400024H11.2604C10.1386 0.400024 9.22959 1.31671 9.22959 2.44799V5.17964C9.22959 6.31093 10.1386 7.22761 11.2604 7.22761H13.9692C15.091 7.22761 16 6.31093 16 5.17964V2.44799C16 1.31671 15.091 0.400024 13.9692 0.400024ZM11.2604 9.57244H13.9692C15.091 9.57244 16 10.4891 16 11.6204V14.3521C16 15.4826 15.091 16.4 13.9692 16.4H11.2604C10.1386 16.4 9.22959 15.4826 9.22959 14.3521V11.6204C9.22959 10.4891 10.1386 9.57244 11.2604 9.57244ZM4.73959 9.57239H2.03082C0.909005 9.57239 0 10.4891 0 11.6204V14.352C0 15.4825 0.909005 16.4 2.03082 16.4H4.73959C5.86141 16.4 6.77041 15.4825 6.77041 14.352V11.6204C6.77041 10.4891 5.86141 9.57239 4.73959 9.57239Z" />
                    </svg>
                </button>
            </div>
            <div class="p-1">
                <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light-md rounded-full p-5">
                    <svg class="w-5 h-5 fill-current text-orange-500" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.71186 23V13.7415H0V9.16102H9.71186V0H14.2881V9.16102H24V13.7415H14.2881V23H9.71186Z" />
                    </svg>
                </button>
            </div>
            <div class="p-1">
                <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light-md rounded-full p-5">
                    <svg class="w-5 h-5 stroke-current stroke-1 fill-current text-orange-500" viewBox="0 0 35 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M27.5833 0.787842C28.7014 0.787732 29.8018 1.06693 30.7846 1.60009C31.7674 2.13324 32.6014 2.90346 33.211 3.8408C33.8205 4.77813 34.1863 5.85289 34.275 6.96746C34.3637 8.08203 34.1726 9.20111 33.719 10.2231C33.2654 11.245 32.5637 12.1375 31.6776 12.8194C30.7915 13.5013 29.7491 13.951 28.645 14.1278C27.541 14.3045 26.4103 14.2027 25.3556 13.8315C24.3009 13.4603 23.3557 12.8315 22.6057 12.0023L13.8696 16.9933C14.2787 18.2992 14.2787 19.6989 13.8696 21.0048L22.6038 25.9997C23.7143 24.7726 25.239 23.999 26.8851 23.8276C28.5312 23.6561 30.1826 24.0988 31.5222 25.0707C32.8618 26.0426 33.7951 27.4751 34.1428 29.0932C34.4906 30.7112 34.2283 32.4007 33.4064 33.8372C32.5844 35.2736 31.2608 36.3558 29.6896 36.8758C28.1184 37.3958 26.4105 37.3171 24.8939 36.6547C23.3773 35.9922 22.1588 34.7928 21.4726 33.2868C20.7863 31.7808 20.6807 30.0743 21.1759 28.4952L12.4416 23.4984C11.5319 24.5043 10.3388 25.211 9.01957 25.5255C7.70029 25.8399 6.31671 25.7473 5.05109 25.2599C3.78547 24.7725 2.6972 23.9131 1.92963 22.795C1.16207 21.6768 0.751221 20.3524 0.751221 18.9962C0.751221 17.6399 1.16207 16.3155 1.92963 15.1974C2.6972 14.0793 3.78547 13.2199 5.05109 12.7325C6.31671 12.2451 7.70029 12.1525 9.01957 12.4669C10.3388 12.7813 11.5319 13.488 12.4416 14.4939L21.1759 9.50293C20.8617 8.49788 20.7883 7.43301 20.9618 6.39437C21.1352 5.35574 21.5506 4.37248 22.1744 3.52408C22.7981 2.67568 23.6127 1.98594 24.5524 1.5106C25.492 1.03527 26.5303 0.787677 27.5833 0.787842ZM27.5833 26.6628C26.5656 26.6628 25.5896 27.0671 24.87 27.7867C24.1504 28.5063 23.7461 29.4823 23.7461 30.5C23.7461 31.5177 24.1504 32.4937 24.87 33.2133C25.5896 33.9329 26.5656 34.3372 27.5833 34.3372C28.601 34.3372 29.577 33.9329 30.2966 33.2133C31.0162 32.4937 31.4205 31.5177 31.4205 30.5C31.4205 29.4823 31.0162 28.5063 30.2966 27.7867C29.577 27.0671 28.601 26.6628 27.5833 26.6628ZM7.46213 15.1628C6.44445 15.1628 5.46845 15.5671 4.74885 16.2867C4.02924 17.0063 3.62497 17.9823 3.62497 19C3.62497 20.0177 4.02924 20.9937 4.74885 21.7133C5.46845 22.4329 6.44445 22.8372 7.46213 22.8372C8.47981 22.8372 9.45581 22.4329 10.1754 21.7133C10.895 20.9937 11.2993 20.0177 11.2993 19C11.2993 17.9823 10.895 17.0063 10.1754 16.2867C9.45581 15.5671 8.47981 15.1628 7.46213 15.1628ZM27.5833 3.66284C26.5656 3.66284 25.5896 4.06711 24.87 4.78672C24.1504 5.50633 23.7461 6.48233 23.7461 7.50001C23.7461 8.51769 24.1504 9.49369 24.87 10.2133C25.5896 10.9329 26.5656 11.3372 27.5833 11.3372C28.601 11.3372 29.577 10.9329 30.2966 10.2133C31.0162 9.49369 31.4205 8.51769 31.4205 7.50001C31.4205 6.48233 31.0162 5.50633 30.2966 4.78672C29.577 4.06711 28.601 3.66284 27.5833 3.66284Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Avatars -->
    <div class="">
        <h3 class="sticky top-12 text-xl pb-1 font-bold dark:text-white bg-orange-50 dark:bg-gray-950">Avatars</h3>
        <div class="flex flex-wrap items-center pb-10">
            <div class="p-1">
                <div class="flex flex-col items-center p-0">
                    <div class="flex-none order-0 flex-grow-0 my-5">
                        <div class="bg-orange-500 text-white py-3.5 px-4 rounded-full border-orange-500 border-2">FN</div>
                    </div>
                </div>
            </div>

            <div class="p-1">
                <div class="flex flex-col items-center p-0">
                    <div class="flex-none order-0 flex-grow-0 my-5">
                        <div class="bg-white dark:bg-black text-orange-500 py-3.5 px-4 rounded-full border-orange-500 border-2">FN</div>
                    </div>
                </div>
            </div>

            <div class="p-1">
                <div class="flex flex-col items-center">
                    <div class="flex-none order-0 flex-grow-0 my-1">
                        <div class="bg-orange-500 text-white py-3.5 px-4 rounded-full border-orange-500 border-2">FN</div>
                    </div>
                    <div class="flex flex-col order-1 items-center p-0">
                        <h3 class="flex-none order-0 flex-grow-0 font-bold text-sm text-orange-500">Friend name</h3>
                        <p class="flex-none order-1 flex-grow-0 text-xs text-gray-500">Rol name</p>
                    </div>
                </div>
            </div>

            <div class="p-1">
                <div class="flex flex-col items-center">
                    <div class="flex-none order-0 flex-grow-0 my-1">
                        <div class="bg-white dark:bg-black text-orange-500 py-3.5 px-4 rounded-full border-orange-500 border-2">FN</div>
                    </div>
                    <div class="flex flex-col order-1 items-center p-0">
                        <h3 class="flex-none order-0 flex-grow-0 font-bold text-sm text-orange-500">Friend name</h3>
                        <p class="flex-none order-1 flex-grow-0 text-xs text-gray-500">Rol name</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Helpers -->
    <div class="">
        <h3 class="sticky top-12 text-xl pb-1 font-bold dark:text-white bg-orange-50 dark:bg-gray-950">Helpers</h3>
        <div class="flex flex-col place-items-start pb-10">
            <div class="p-1 mt-2 w-full max-w-sm">
                <div class="flex flex-row justify-evenly items-center py-2 px-3 rounded-2xl shadow-sm bg-white dark:bg-black">
                    <div class="flex flex-col items-center justify-center ">
                        <p class="flex-none order-0 flex-grow-0 text-center font-bold text-xs text-gray-500 mix-blend-normal">Label</p>
                        <p class="flex-none order-1 flex-grow-0 text-center text-xl text-black dark:text-white black font-bold">DATA</p>
                    </div>

                    <div class="flex flex-col items-center justify-center ">
                        <p class="flex-none order-0 flex-grow-0 text-center font-bold text-xs text-gray-500 mix-blend-normal">Label</p>
                        <p class="flex-none order-1 flex-grow-0 text-center text-xl text-black dark:text-white font-bold">DATA</p>
                    </div>
                </div>

            </div>

            <div class="p-1 mt-2">
                <div class="flex flex-col justify-evenly items-center space-y-5 py-5 px-5 rounded-2xl shadow-sm bg-white dark:bg-black">
                    <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light-md px-4 py-2 text-sm font-extrabold rounded-xl">Historial</button>
                    <div class="relative inline-block w-16 h-8 align-middle select-none shadow-md dark:shadow-light-md rounded-full transition-all duration-500 ease-in-out">
                        <input type="checkbox" checked @onclick="ToggleMode" name="toggle" id="toggle" class="toggle-checkbox absolute block border-2 border-orange-50 dark:border-gray-800 w-8 h-8 rounded-full bg-orange-500 appearance-none cursor-pointer transition-all duration-500 ease-in-out" />
                        <label for="toggle" class="bg-orange-50 flex flex-row justify-evenly items-center toggle-label overflow-hidden h-8 rounded-full cursor-pointer transition-all duration-500 ease-in-out">
                            <svg class="w-4 h-4 fill-current text-white" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.23214 6.1955C5.4881 6.4521 5.90248 6.4521 6.15776 6.1955C6.41308 5.9389 6.41308 5.5235 6.15776 5.26759L4.76932 3.875C4.51336 3.6184 4.09898 3.6184 3.84366 3.875C3.5877 4.1316 3.5877 4.547 3.84366 4.80295L5.23214 6.1955ZM5.62622 16.0183L4.25082 17.397C3.99749 17.651 3.99749 18.0625 4.25082 18.3164C4.50415 18.5704 4.91463 18.5704 5.16796 18.3164L6.54335 16.9377C6.79669 16.6837 6.79669 16.2722 6.54335 16.0183C6.29002 15.7643 5.87958 15.7643 5.62622 16.0183ZM11.2495 4.08105C11.6109 4.08105 11.9042 3.78705 11.9042 3.4248V1.45605C11.9042 1.0938 11.6109 0.799805 11.2495 0.799805C10.8882 0.799805 10.5949 1.0938 10.5949 1.45605V3.4248C10.5949 3.78705 10.8882 4.08105 11.2495 4.08105ZM17.5478 5.90541L18.9232 4.52662C19.1765 4.27266 19.1765 3.86117 18.9232 3.60722C18.6698 3.35326 18.2593 3.35326 18.006 3.60722L16.6306 4.98601C16.3773 5.23997 16.3773 5.65146 16.6306 5.90541C16.884 6.1594 17.2944 6.1594 17.5478 5.90541ZM3.39393 10.6436H1.43002C1.06867 10.6436 0.775391 10.9376 0.775391 11.2998C0.775391 11.6621 1.06867 11.9561 1.43002 11.9561H3.39393C3.75528 11.9561 4.04856 11.6621 4.04856 11.2998C4.04856 10.9376 3.75528 10.6436 3.39393 10.6436ZM11.2495 18.5186C10.8882 18.5186 10.5949 18.8126 10.5949 19.1748V21.1436C10.5949 21.5058 10.8882 21.7998 11.2495 21.7998C11.6109 21.7998 11.9042 21.5058 11.9042 21.1436V19.1748C11.9042 18.8126 11.6109 18.5186 11.2495 18.5186ZM21.069 10.6436H19.1051C18.7438 10.6436 18.4505 10.9376 18.4505 11.2998C18.4505 11.6621 18.7438 11.9561 19.1051 11.9561H21.069C21.4304 11.9561 21.7237 11.6621 21.7237 11.2998C21.7237 10.9376 21.4304 10.6436 21.069 10.6436ZM17.2669 16.4041C17.011 16.1475 16.5966 16.1475 16.3413 16.4041C16.0853 16.6607 16.0853 17.0761 16.3413 17.3321L17.7297 18.724C17.9857 18.9806 18.4001 18.9806 18.6554 18.724C18.9107 18.4673 18.9114 18.052 18.6554 17.796L17.2669 16.4041ZM11.2495 5.38961C7.99337 5.38961 5.35389 8.03561 5.35389 11.2998C5.35389 14.564 7.99337 17.21 11.2495 17.21C14.5057 17.21 17.1452 14.564 17.1452 11.2998C17.1452 8.03561 14.5057 5.38961 11.2495 5.38961Z" />
                            </svg>
                            <svg class="w-4 h-4 fill-current text-gray-900" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.2661 16.1663C10.659 16.1586 5.30457 10.7912 5.29688 4.16753C5.29401 2.81646 5.5213 1.47461 5.96879 0.200195C1.84652 2.53297 -0.367089 7.21243 0.439808 11.8884C1.24701 16.5643 4.89991 20.2265 9.56438 21.0354C14.2287 21.8443 18.8966 19.6253 21.2237 15.4927C19.9524 15.9416 18.6141 16.1693 17.2661 16.1663Z" />
                            </svg>
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Breadcrumbs -->
    <div class="">
        <h3 class="sticky top-12 text-xl pb-1 font-bold dark:text-white bg-orange-50 dark:bg-gray-950">Breadcrumbs</h3>
        <div id="Cxp-Breadcrumb" class="flex flex-row items-center px-2 flex-none flex-grow max-w-sm pb-10">
            <h2 class="text-lg font-extrabold text-orange-500 flex-none flex-grow mx-1">Juntada 1</h2>
            <h3 class="text-sm font-semibold text-orange-500 flex-none flex-grow-0 mx-4">Jue 6 May.</h3>
        </div>
    </div>

    <!-- Inputs -->
    <div class="">
        <h3 class="sticky z-10 top-12 text-xl pb-1 font-bold dark:text-white bg-orange-50 dark:bg-gray-950">Inputs</h3>
        <div class="flex flex-wrap items-center pb-10">
            <div class="p-2 mt-2 w-full max-w-xs">
                <div class="border-2 border-orange-500 rounded-xl bg-white dark:bg-black">
                    <label class="absolute text-xs -mt-2 ml-2 bg-white dark:bg-black px-1 text-orange-500" for="amount">Name</label>
                    <div class="px-1 py-3 flex items-center">
                        <input id="amount" name="amount" class="mx-2 w-full text-lg text-gray-900 dark:text-white dark:bg-black" type="text" placeholder="Friend Name" />
                    </div>
                </div>

                <div class="mt-3 w-full max-w-xs">
                    <div class="border-2 border-orange-500 rounded-xl bg-white dark:bg-black">
                        <label class="absolute text-xs -mt-2 ml-2 bg-white dark:bg-black px-1 text-orange-500" for="amount">Amount</label>
                        <div class="px-4 py-4 flex items-center">
                            <div class="relative w-5 border-orange-500 border-2"></div>
                            <input id="amount" name="amount" class="mx-2 w-full text-3xl text-center font-bold text-gray-900 dark:text-white dark:bg-black" type="text" placeholder="Amount" />
                            <div class="relative w-5 border-orange-500 border-2"></div>
                        </div>
                        <div class="px-4 pb-1">
                            <input class="appearance-none overflow-hidden w-full rounded-full" type="range" min="1" max="100" step="1" value="15" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cards -->
    <div class="">
        <h3 class="sticky z-10 top-12 text-xl pb-1 font-bold dark:text-white bg-orange-50 dark:bg-gray-950">Users Cards</h3>
        <div class="flex flex-wrap items-center pb-10">
            <div class="p-1 m-1">
                <div class="relative">
                    <div class="flex flex-col items-end absolute -right-2 -top-2">
                        <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light p-2 mb-1 text-sm font-extrabold rounded-xl">
                            <svg class="w-3 h-3 fill-current text-orange-500" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.51945 4.96729L2.79477 3.84733L2.08806 4.96729H0.477002L1.99224 2.85314L0.530903 0.774935H2.11801L2.83071 1.82901L3.52544 0.774935H5.04666L3.59132 2.79924L5.1365 4.96729H3.51945Z" />
                            </svg>
                        </button>
                        <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light p-2 text-sm font-extrabold rounded-xl">
                            <svg class="w-3 h-3 stroke-current text-orange-500" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.37028 2.13311L7.36693 3.12935L6.37028 2.13311ZM7.01119 1.25545L4.31629 3.95054C4.17704 4.0896 4.08208 4.26677 4.04336 4.45972L3.79443 5.70585L5.04048 5.45644C5.23341 5.41785 5.41034 5.32326 5.54963 5.18397L8.24453 2.48888C8.32551 2.40789 8.38975 2.31174 8.43358 2.20593C8.4774 2.10011 8.49996 1.9867 8.49996 1.87216C8.49996 1.75763 8.4774 1.64422 8.43358 1.5384C8.38975 1.43259 8.32551 1.33644 8.24453 1.25545C8.16355 1.17446 8.06741 1.11022 7.9616 1.06639C7.85579 1.02256 7.74238 1 7.62786 1C7.51333 1 7.39993 1.02256 7.29412 1.06639C7.18831 1.11022 7.09217 1.17446 7.01119 1.25545V1.25545Z" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M7.55841 6.64698V8.05876C7.55841 8.30838 7.45926 8.54777 7.28277 8.72428C7.10627 8.90078 6.86689 8.99994 6.61729 8.99994H1.44112C1.19152 8.99994 0.952143 8.90078 0.775648 8.72428C0.599154 8.54777 0.5 8.30838 0.5 8.05876V2.88223C0.5 2.63261 0.599154 2.39321 0.775648 2.21671C0.952143 2.0402 1.19152 1.94104 1.44112 1.94104H2.8528" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div class="flex flex-col items-center py-2 px-3 rounded-2xl shadow-md dark:shadow-light-md bg-white dark:bg-black">
                        <div class="flex flex-col items-center flex-none order-none self-stretch flex-grow-0">
                            <div class="flex flex-col justify-center items-center p-0 flex-none order-1 flex-grow-0">
                                <div class="flex flex-col items-center p-0 w-24">
                                    <div class="flex-none order-0 flex-grow-0 my-1">
                                        <div class="bg-orange-500 text-white py-3.5 px-4 rounded-full">FN</div>
                                    </div>
                                    <div class="flex flex-col order-1 items-center p-0">
                                        <h3 class="flex-none order-0 flex-grow-0 font-bold text-sm text-orange-500">Friend name</h3>
                                        <!-- <p class="flex-none order-1 flex-grow-0 text-xs text-gray-500">Rol name</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-row justify-between items-center py-2 flex-none order-2 self-stretch flex-grow-0">
                                <div class="flex flex-col items-center justify-center flex-none order-none flex-grow-0 mx-1">
                                    <p class="flex-none order-0 flex-grow-0 text-center font-bold text-xs text-gray-500 mix-blend-normal">Label</p>
                                    <p class="flex-none order-1 flex-grow-0 text-center text-lg text-black dark:text-white font-bold">DATA</p>
                                </div>
                                <div class="flex flex-col items-center justify-center flex-none order-1 flex-grow-0 mx-1">
                                    <p class="flex-none order-0 flex-grow-0 text-center font-bold text-xs text-gray-500 mix-blend-normal">Label</p>
                                    <p class="flex-none order-1 flex-grow-0 text-center text-lg text-black dark:text-white font-bold">DATA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 m-1">
                <div class="relative">
                    <div class="flex flex-col items-center py-2 px-3 rounded-2xl shadow-md dark:shadow-light-md bg-white dark:bg-black">
                        <div class="flex flex-col items-center flex-none order-none self-stretch flex-grow-0">
                            <div class="flex flex-col justify-center items-center p-0 flex-none order-1 flex-grow-0">
                                <div class="flex flex-col items-center p-0 w-24">
                                    <div class="flex-none order-0 flex-grow-0 my-1">
                                        <div class="bg-orange-500 text-white py-3.5 px-4 rounded-full">FN</div>
                                    </div>
                                    <div class="flex flex-col order-1 items-center p-0">
                                        <h3 class="flex-none order-0 flex-grow-0 font-bold text-sm text-orange-500">Friend name</h3>
                                        <p class="flex-none order-1 flex-grow-0 text-xs text-gray-500">Rol name</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-row justify-between items-center py-2 flex-none order-2 self-stretch flex-grow-0">
                                <div class="flex flex-col items-center justify-center flex-none order-none flex-grow-0 mx-1">
                                    <p class="flex-none order-0 flex-grow-0 text-center font-bold text-xs text-gray-500  mix-blend-normal">Label</p>
                                    <p class="flex-none order-1 flex-grow-0 text-center text-lg text-black dark:text-white font-bold">DATA</p>
                                </div>
                                <div class="flex flex-col items-center justify-center flex-none order-1 flex-grow-0 mx-1">
                                    <p class="flex-none order-0 flex-grow-0 text-center font-bold text-xs text-gray-500  mix-blend-normal">Label</p>
                                    <p class="flex-none order-1 flex-grow-0 text-center text-lg text-black dark:text-white font-bold">DATA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 m-1">
                <div class="relative">
                    <div class="flex flex-col items-center py-2 px-3 rounded-2xl shadow-md dark:shadow-light-md bg-white dark:bg-black">
                        <div class="flex flex-col items-center flex-none order-none self-stretch flex-grow-0">
                            <div class="flex flex-col justify-center items-center p-0 flex-none order-1 flex-grow-0">
                                <div class="flex flex-col items-center p-0 w-24">
                                    <div class="flex-none order-0 flex-grow-0 my-1">
                                        <div class="bg-orange-500 text-white py-3.5 px-4 rounded-full">FN</div>
                                    </div>
                                    <div class="flex flex-col order-1 items-center p-0">
                                        <h3 class="flex-none order-0 flex-grow-0 font-bold text-sm text-orange-500">Friend name</h3>
                                        <p class="flex-none order-1 flex-grow-0 text-xs text-gray-500">Rol name</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 m-1">
                <div class="relative">
                    <div class="flex flex-col items-center py-2 px-3 rounded-2xl shadow-md dark:shadow-light-md bg-white dark:bg-black">
                        <div class="flex flex-col items-center flex-none order-none self-stretch flex-grow-0">
                            <div class="flex flex-col justify-center items-center p-0 flex-none order-1 flex-grow-0">
                                <div class="flex flex-col items-center p-0 w-24">
                                    <div class="flex-none order-0 flex-grow-0 my-1">
                                        <div class="bg-white dark:bg-black text-orange-500 py-3.5 px-4 rounded-full border-orange-500 border-2">FN</div>
                                    </div>
                                    <div class="flex flex-col order-1 items-center p-0">
                                        <h3 class="flex-none order-0 flex-grow-0 font-bold text-sm text-orange-500">Friend name</h3>
                                        <p class="flex-none order-1 flex-grow-0 text-xs text-gray-500">Rol name</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 m-1">
                <div class="relative">
                    <div class="flex flex-col items-end absolute -right-2 -top-2">
                        <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light p-2 mb-1 text-sm font-extrabold rounded-xl">
                            <svg class="w-3 h-3 fill-current text-orange-500" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.51945 4.96729L2.79477 3.84733L2.08806 4.96729H0.477002L1.99224 2.85314L0.530903 0.774935H2.11801L2.83071 1.82901L3.52544 0.774935H5.04666L3.59132 2.79924L5.1365 4.96729H3.51945Z" />
                            </svg>
                        </button>
                        <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light p-2 text-sm font-extrabold rounded-xl">
                            <svg class="w-3 h-3 stroke-current text-orange-500" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.37028 2.13311L7.36693 3.12935L6.37028 2.13311ZM7.01119 1.25545L4.31629 3.95054C4.17704 4.0896 4.08208 4.26677 4.04336 4.45972L3.79443 5.70585L5.04048 5.45644C5.23341 5.41785 5.41034 5.32326 5.54963 5.18397L8.24453 2.48888C8.32551 2.40789 8.38975 2.31174 8.43358 2.20593C8.4774 2.10011 8.49996 1.9867 8.49996 1.87216C8.49996 1.75763 8.4774 1.64422 8.43358 1.5384C8.38975 1.43259 8.32551 1.33644 8.24453 1.25545C8.16355 1.17446 8.06741 1.11022 7.9616 1.06639C7.85579 1.02256 7.74238 1 7.62786 1C7.51333 1 7.39993 1.02256 7.29412 1.06639C7.18831 1.11022 7.09217 1.17446 7.01119 1.25545V1.25545Z" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M7.55841 6.64698V8.05876C7.55841 8.30838 7.45926 8.54777 7.28277 8.72428C7.10627 8.90078 6.86689 8.99994 6.61729 8.99994H1.44112C1.19152 8.99994 0.952143 8.90078 0.775648 8.72428C0.599154 8.54777 0.5 8.30838 0.5 8.05876V2.88223C0.5 2.63261 0.599154 2.39321 0.775648 2.21671C0.952143 2.0402 1.19152 1.94104 1.44112 1.94104H2.8528" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div class="flex flex-col items-center py-2 px-3 rounded-2xl shadow-md dark:shadow-light-md bg-white dark:bg-black">
                        <div class="flex flex-col items-center flex-none order-none self-stretch flex-grow-0">
                            <div class="flex flex-col justify-center items-center p-0 flex-none order-1 flex-grow-0">
                                <div class="flex flex-col items-center p-0 w-24">
                                    <div class="flex-none order-0 flex-grow-0 my-1">
                                        <div class="bg-orange-500 text-white py-3.5 px-4 rounded-full">FN</div>
                                    </div>
                                    <div class="flex flex-col order-1 items-center p-0">
                                        <h3 class="flex-none order-0 flex-grow-0 font-bold text-sm text-orange-500">Friend name</h3>
                                        <p class="flex-none order-1 flex-grow-0 text-xs text-gray-500">Rol name</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 m-1">
                <div class="flex flex-col items-center py-2 px-3 rounded-2xl shadow-md dark:shadow-light-md bg-white dark:bg-black">
                    <div class="flex flex-col items-center flex-none order-none self-stretch flex-grow-0">
                        <div class="flex flex-col justify-center items-center p-0 flex-none order-1 flex-grow-0">
                            <div class="flex flex-col items-center p-0 w-">
                                <button class="bg-white dark:bg-black text-orange-500 px-8 py-12">
                                    <svg class="w-7 h-7 fill-current text-orange-500" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.71186 23V13.7415H0V9.16102H9.71186V0H14.2881V9.16102H24V13.7415H14.2881V23H9.71186Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 m-1">
                <div class="relative max-w-sm">
                    <div class="flex flex-col items-end absolute -right-2 -top-2">
                        <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light p-2 mb-1 text-sm font-extrabold rounded-xl">
                            <svg class="w-3 h-3 fill-current text-orange-500" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.51945 4.96729L2.79477 3.84733L2.08806 4.96729H0.477002L1.99224 2.85314L0.530903 0.774935H2.11801L2.83071 1.82901L3.52544 0.774935H5.04666L3.59132 2.79924L5.1365 4.96729H3.51945Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="flex flex-col items-center py-3 px-5 rounded-2xl shadow-md dark:shadow-light-md bg-white dark:bg-black">
                        <div class="flex flex-col items-center flex-none order-none self-stretch flex-grow">
                            <div class="flex flex-row justify-center items-center p-0 self-stretch flex-none order-none flex-grow-0">
                                <p class="flex-none flex-grow font-bold text-sm text-orange-500">Add Friend</p>
                            </div>
                            <div class="flex flex-col items-center pt-3 flex-none order-1 self-stretch flex-grow">
                                <div class="flex flex-row items-center flex-wrap flex-none self-stretch flex-grow-0">
                                    <div class="flex flex-col items-center p-0 flex-none order-none flex-grow-0 mr-2 mb-2">
                                        <div class="flex-none order-0 flex-grow-0 my-1">
                                            <div class="bg-orange-500 text-white py-3.5 px-4 rounded-full">FN</div>
                                        </div>
                                    </div>
                                    <div class="mt-1 w-min self-stretch flex-grow">
                                        <div class="border-2 border-orange-500 rounded-xl bg-white dark:bg-black">
                                            <label class="absolute text-xs -mt-2 ml-2 bg-white dark:bg-black px-1 text-orange-500" for="amount">Name</label>
                                            <div class="px-1 py-3 flex items-center">
                                                <input id="amount" name="amount" class="mx-2 w-full text-lg text-gray-900 dark:text-white dark:bg-black" type="text" placeholder="Friend Name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-2 order-2 w-full">
                                        <div class="border-2 border-orange-500 rounded-xl bg-white dark:bg-black">
                                            <label class="absolute text-xs -mt-2 ml-2 bg-white dark:bg-black px-1 text-orange-500" for="amount">Amount</label>
                                            <div class="px-4 py-4 flex items-center">
                                                <div class="relative w-5 border-orange-500 border-2"></div>
                                                <input id="amount" name="amount" class="mx-2 w-full text-3xl text-center font-bold text-gray-900 dark:text-white dark:bg-black" type="text" placeholder="Amount" />
                                                <div class="relative w-5 border-orange-500 border-2"></div>
                                            </div>
                                            <div class="relative px-4 pb-1">
                                                <input class="appearance-none overflow-hidden w-full rounded-full" type="range" min="1" max="100" step="1" value="15" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-row justify-end items-end pt-3 pb-1 flex-none order-2 self-stretch flex-grow-0">
                                <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light px-3 py-1 text-sm font-extrabold rounded-xl">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 m-1">
                <div id="Cxp-Card" class="relative max-w-sm">
                    <div id="Cxp-Actions-Buttons" class="flex flex-col items-end absolute -right-2 -top-2">
                        <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light p-2 mb-1 text-sm font-extrabold rounded-xl">
                            <svg class="w-3 h-3 fill-current text-orange-500" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.51945 4.96729L2.79477 3.84733L2.08806 4.96729H0.477002L1.99224 2.85314L0.530903 0.774935H2.11801L2.83071 1.82901L3.52544 0.774935H5.04666L3.59132 2.79924L5.1365 4.96729H3.51945Z" />
                            </svg>
                        </button>
                        <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light p-2 text-sm font-extrabold rounded-xl">
                            <svg class="w-3 h-3 stroke-current text-orange-500" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.37028 2.13311L7.36693 3.12935L6.37028 2.13311ZM7.01119 1.25545L4.31629 3.95054C4.17704 4.0896 4.08208 4.26677 4.04336 4.45972L3.79443 5.70585L5.04048 5.45644C5.23341 5.41785 5.41034 5.32326 5.54963 5.18397L8.24453 2.48888C8.32551 2.40789 8.38975 2.31174 8.43358 2.20593C8.4774 2.10011 8.49996 1.9867 8.49996 1.87216C8.49996 1.75763 8.4774 1.64422 8.43358 1.5384C8.38975 1.43259 8.32551 1.33644 8.24453 1.25545C8.16355 1.17446 8.06741 1.11022 7.9616 1.06639C7.85579 1.02256 7.74238 1 7.62786 1C7.51333 1 7.39993 1.02256 7.29412 1.06639C7.18831 1.11022 7.09217 1.17446 7.01119 1.25545V1.25545Z" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M7.55841 6.64698V8.05876C7.55841 8.30838 7.45926 8.54777 7.28277 8.72428C7.10627 8.90078 6.86689 8.99994 6.61729 8.99994H1.44112C1.19152 8.99994 0.952143 8.90078 0.775648 8.72428C0.599154 8.54777 0.5 8.30838 0.5 8.05876V2.88223C0.5 2.63261 0.599154 2.39321 0.775648 2.21671C0.952143 2.0402 1.19152 1.94104 1.44112 1.94104H2.8528" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div id="Cxp-Card-Wrapper" class="flex flex-col items-center pt-2 bg-white dark:bg-black shadow-md dark:shadow-light-md rounded-2xl">
                        <div id="Cxp-Card-Content" class="flex flex-col items-center px-1 pt-2 flex-none order-none self-stretch flex-grow m-0">
                            <div id="Cxp-Card-Header" class="flex flex-row justify-center items-center pr-2 flex-none self-stretch order-none flex-grow-0 mb-2">
                                <div id="Cxp-Breadcrumb" class="flex flex-row items-center px-2 flex-none flex-grow">
                                    <h2 class="text-lg font-extrabold text-orange-500 flex-none flex-grow mx-1">Juntada 1</h2>
                                    <h3 class="text-sm font-semibold text-orange-500 flex-none flex-grow-0 mx-4">Jue 6 May.</h3>
                                </div>
                            </div>
                            <div id="Cxp-Card-Body" class="flex flex-row justify-center items-start p-0 flex-none order-1 self-stretch flex-grow mt-1 ">
                                <div id="Cxp-Card-Row" class="flex flex-row justify-between items-center pb-1 order-none flex-grow flex-wrap mx-2">
                                    <div id="Cxp-Card-Col" class="flex flex-row self-stretch mb-3">
                                        <div class="relative h-12 w-32">
                                            <div id="Cxp-Card-Avatar-Pagador" class="border-white dark:border-black border-2 rounded-full absolute bottom-0">
                                                <div class="bg-orange-500 text-white text-base py-2 px-2.5 rounded-full border-orange-500 border-2">FN</div>
                                            </div>
                                            <div id="Cxp-Card-Avatar-Pagador" class="border-white dark:border-black border-2 rounded-full absolute bottom-0 left-8">
                                                <div class="bg-orange-500 text-white text-base py-2 px-2.5 rounded-full border-orange-500 border-2">FN</div>
                                            </div>
                                            <div id="Cxp-Card-Avatar-Cobrador" class="border-white dark:border-black border-2 rounded-full absolute bottom-0 left-16">
                                                <div class="bg-white dark:bg-black text-orange-500 text-base py-2 px-2.5 rounded-full border-orange-500 border-2">FN</div>
                                            </div>
                                            <div id="Cxp-Card-Avatar-Cobrador" class="border-white dark:border-black border-2 rounded-full absolute bottom-0 left-24">
                                                <div class="bg-white dark:bg-black text-orange-500 text-base py-2 px-2.5 rounded-full border-orange-500 border-2">FN</div>
                                            </div>
                                            <div id="Cxp-Card-Avatar-Counter" class="border-white dark:border-black border rounded-full absolute bottom-0 left-32">
                                                <div class="bg-white dark:bg-black text-orange-500 py-1 px-0.5 rounded-full text-xs border-orange-500 border">+99</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="Cxp-Card-Col" class="flex flex-row justify-evenly items-center p-0 ml-6 mr-2 mb-3 flex-wrap flex-grow">
                                        <div class="flex flex-col items-center justify-center ml-4">
                                            <p class="text-center font-semibold text-xs text-gray-500 ">Total Juntada</p>
                                            <p class="text-center text-base text-black dark:text-white font-bold">$1500</p>
                                        </div>

                                        <div class="flex flex-col items-center justify-center ml-4">
                                            <p class="text-center font-semibold text-xs text-gray-500 ">Total x Pera</p>
                                            <p class="text-center text-base text-black dark:text-white font-bold">$250</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 m-1 w-full max-w-sm">
                <div class="flex flex-row items-start p-0">
                    <div class="flex flex-col items-center flex-none flex-grow-0 py-2 px-1 rounded-2xl shadow-md dark:shadow-light-md bg-white dark:bg-black">
                        <div class="flex flex-col items-center flex-none order-none self-stretch flex-grow-0">
                            <div class="flex flex-col justify-center items-center p-0 flex-none order-1 flex-grow-0">
                                <div class="flex flex-col items-center p-1">
                                    <div class="flex-none order-0 flex-grow-0 my-1">
                                        <div class="bg-orange-500 text-white py-2.5 px-3 rounded-full border-orange-500 border-2">FN</div>
                                    </div>
                                    <div class="flex flex-col order-1 items-center p-0">
                                        <h3 class="flex-none order-0 flex-grow-0 font-bold text-xs text-orange-500">Friend name</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-px flex flex-col items-start pt-2 flex-none self-stretch flex-grow mx-2">
                        <div class="flex flex-row justify-between items-center p-0 flex-none order-none self-stretch flex-grow-0 mx-1">
                            <span class="w-2 h-2 bg-orange-500 rounded-full mr-1"></span>
                            <span class="w-2 h-2 bg-orange-500 rounded-full mr-1"></span>
                            <span class="w-2 h-2 bg-orange-500 rounded-full mr-1"></span>
                            <span class="w-2 h-2 bg-orange-500 rounded-full mr-1"></span>
                            <span class="w-2 h-2 bg-orange-500 rounded-full mr-1"></span>
                            <span class="w-2 h-2 bg-orange-500 rounded-full mr-1"></span>
                            <span class="w-2 h-2 bg-orange-500 rounded-full"></span>
                        </div>
                        <div class="flex flex-col items-start px-2 flex-none self-stretch flex-grow-0 my-2">
                            <p class="flex-none self-stretch text-sm dark:text-white"><b>Mati</b> le tiene que pagar a <b>Mara</b></p>
                            <p class="flex-none self-stretch text-orange-500 text-3xl"><b>$50</b></p>
                        </div>
                    </div>
                    <div class="flex flex-col items-center flex-none flex-grow-0 py-2 px-1 rounded-2xl shadow-md dark:shadow-light-md bg-white dark:bg-black">
                        <div class="flex flex-col items-center flex-none order-none self-stretch flex-grow-0">
                            <div class="flex flex-col justify-center items-center p-0 flex-none order-1 flex-grow-0">
                                <div class="flex flex-col items-center p-1">
                                    <div class="flex-none order-0 flex-grow-0 my-1">
                                        <div class="bg-white dark:bg-black text-orange-500 py-2.5 px-3 rounded-full border-orange-500 border-2">FN</div>
                                    </div>
                                    <div class="flex flex-col order-1 items-center p-0">
                                        <h3 class="flex-none order-0 flex-grow-0 font-bold text-xs text-orange-500">Friend name</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbars -->
    <div class="">
        <h3 class="sticky z-10 top-12 text-xl pb-1 font-bold dark:text-white bg-orange-50 dark:bg-gray-950">Navbars</h3>
        <div class="flex flex-wrap items-center pb-10">
            <div class="p-1 w-full max-w-sm">
                <div id="Cxp-Navbar" class="relative mt-6">
                    <div id="Cxp-Navbar-Wrapper" class="flex flex-row justify-between items-center px-5 bg-white dark:bg-black shadow-md dark:shadow-light-md rounded-3xl">
                        <div id="Cxp-Navbar-Breadcrumb" class="flex items-center flex-none absolute -top-6 left-4">
                            <button class="flex items-center flex-none">
                                <svg class="w-2 h-2 fill-current text-orange-500" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M-3.49691e-07 7L12 0.0717978L12 13.9282L-3.49691e-07 7Z" />
                                </svg>
                                <div class="ml-1 text-sm text-orange-500">Historial</div>
                            </button>
                        </div>
                        <div id="Cxp-Navbar-Left" class="flex flex-col justify-center items-start p-0 self-stretch flex-grow flex-1 m-0">
                            <button class="p-1 m-2">
                                <svg class="w-10 h-10 fill-current text-orange-500" viewBox="0 0 32 45" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <path d="M30.6731 26.6488C30.6828 26.6667 30.6919 26.6859 30.7003 26.7054C32.6173 31.2032 32.3986 36.3635 30.1433 39.8511C28.3765 42.5816 25.2437 44.2845 21.3212 44.6459C20.3479 44.7355 19.3643 44.7622 18.4048 44.7254C17.9769 44.7091 17.6073 44.5455 17.4162 44.2882C17.2686 44.0893 17.2309 43.8402 17.307 43.5676C17.3651 43.3587 17.5049 43.1919 17.6401 43.0306L17.6403 43.0305C17.7232 42.932 17.8018 42.8387 17.8582 42.7399C18.0141 42.4692 18.1146 42.2362 18.176 42.0072C18.3239 41.4512 18.3487 40.9104 18.2481 40.4433C17.9854 39.2248 17.2238 38.3928 16.2107 38.2184C16.0487 38.1906 15.8829 38.1763 15.7182 38.1763C14.6552 38.1763 13.6677 38.7625 13.2023 39.6701C12.6521 40.7421 12.7574 42.0332 13.4707 42.9592C13.7205 43.2836 13.9971 43.7067 13.9182 44.0998C13.8748 44.3151 13.7303 44.495 13.489 44.6341C13.2956 44.7456 13.0318 44.8 12.683 44.8C12.2984 44.8 11.8703 44.7326 11.5265 44.6785L11.5106 44.676C11.3754 44.6548 11.2507 44.6352 11.1431 44.622C8.37022 44.285 4.63207 43.1726 2.57009 39.7876C0.888391 37.027 0.374279 33.3178 1.15963 29.6117C1.55062 27.7658 2.24532 26.052 3.22429 24.5176C3.66332 23.8291 4.14877 23.1567 4.61886 22.5056L4.63534 22.4828C5.17246 21.7394 5.72775 20.9709 6.21474 20.1787C6.64962 19.4715 7.13304 18.6256 7.42123 17.7137C7.6484 16.9942 7.72513 16.2798 7.80633 15.5236L7.80779 15.51C7.82979 15.3049 7.85186 15.0991 7.87735 14.8922C8.14181 12.7444 8.70196 11.0506 9.58992 9.71413C11.0507 7.51545 13.3904 6.20374 15.8485 6.20374C16.8121 6.20374 17.7616 6.40617 18.6717 6.80261C20.2082 7.47254 21.3128 8.58973 21.7821 9.94278C22.2855 11.3945 22.2978 12.976 21.8169 14.3852C21.092 16.5075 19.6641 18.2464 18.2832 19.9154C17.7408 20.5711 17.1797 21.2746 16.6706 21.9658C15.5408 23.5002 14.7715 25.1941 14.3841 26.8992C13.9778 28.6869 14.0231 30.2383 14.1398 32.173H17.1249C17.0546 30.0624 17.1369 27.6291 18.1915 25.4533C19.0417 23.6987 20.3047 22.0982 21.526 20.6491C21.9131 20.1897 22.3132 19.7149 22.6943 19.2391C22.8519 19.0427 22.9972 18.8239 23.1506 18.5924L23.1513 18.5914C23.3802 18.2467 23.617 17.89 23.8985 17.6126C24.0696 17.4439 24.3032 17.3509 24.5566 17.3509C24.7167 17.3509 24.8769 17.3889 25.0193 17.461C25.2503 17.5772 25.3905 17.8583 25.5788 18.2732C25.8443 18.8606 26.1402 19.422 26.4575 19.9421C26.9541 20.7571 27.513 21.5546 28.054 22.3258L28.0599 22.3341C28.9969 23.6714 29.9656 25.0539 30.6469 26.58C30.6565 26.6031 30.6658 26.6261 30.6731 26.6488Z" />
                                    </g>
                                    <g>
                                        <path d="M15.434 3.85809C15.8371 3.79231 16.1036 3.63314 16.6378 3.79442C16.2852 2.91484 15.4626 1.16026 14.8889 0.34699C14.8392 0.277869 14.7791 0.2193 14.7158 0.169702C14.7113 0.16724 14.7084 0.16337 14.7058 0.16126C14.4675 -0.0167313 14.1604 -0.0566561 13.9536 0.0882694C13.9499 0.0895006 13.9468 0.0923146 13.9434 0.0942493C13.6759 0.279451 13.6629 0.671665 13.8794 0.969606C14.3587 1.63936 15.1242 3.14437 15.434 3.85809Z" />
                                    </g>
                                </svg>
                            </button>
                        </div>
                        <div id="Cxp-Navbar-Middle" class="flex flex-col justify-center items-center p-0 self-stretch flex-grow flex-1 m-0">
                            <button class="p-1 m-2">
                                <svg class="w-5 h-5 fill-current text-orange-500" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73959 0.400024H2.03082C0.909005 0.400024 0 1.31671 0 2.44799V5.17964C0 6.31093 0.909005 7.22761 2.03082 7.22761H4.73959C5.86141 7.22761 6.77041 6.31093 6.77041 5.17964V2.44799C6.77041 1.31671 5.86141 0.400024 4.73959 0.400024ZM13.9692 0.400024H11.2604C10.1386 0.400024 9.22959 1.31671 9.22959 2.44799V5.17964C9.22959 6.31093 10.1386 7.22761 11.2604 7.22761H13.9692C15.091 7.22761 16 6.31093 16 5.17964V2.44799C16 1.31671 15.091 0.400024 13.9692 0.400024ZM11.2604 9.57244H13.9692C15.091 9.57244 16 10.4891 16 11.6204V14.3521C16 15.4826 15.091 16.4 13.9692 16.4H11.2604C10.1386 16.4 9.22959 15.4826 9.22959 14.3521V11.6204C9.22959 10.4891 10.1386 9.57244 11.2604 9.57244ZM4.73959 9.57239H2.03082C0.909005 9.57239 0 10.4891 0 11.6204V14.352C0 15.4825 0.909005 16.4 2.03082 16.4H4.73959C5.86141 16.4 6.77041 15.4825 6.77041 14.352V11.6204C6.77041 10.4891 5.86141 9.57239 4.73959 9.57239Z" />
                                </svg>
                            </button>
                        </div>
                        <div id="Cxp-Navbar-Right" class="flex flex-col justify-center items-end p-0 self-stretch flex-grow flex-1 m-0">
                            <div class="relative w-full h-full flex-none self-stretch flex-grow">
                                <button class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light rounded-full p-5 absolute -top-5 right-0">
                                    <svg class="w-5 h-5 fill-current text-orange-500" viewBox="0 0 24 23" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.71186 23V13.7415H0V9.16102H9.71186V0H14.2881V9.16102H24V13.7415H14.2881V23H9.71186Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Notifications -->
    <div class="">
        <h3 class="sticky z-10 top-12 text-xl pb-1 font-bold dark:text-white bg-orange-50 dark:bg-gray-950">Notifications</h3>
        <div class="flex flex-wrap items-center pb-10">
            <div class="p-1 w-full max-w-xs">
                <div id="Cxp-Notification" class="relative mt-6">
                    <div id="Cxp-Notification-Wrapper" class="flex flex-row justify-between items-center px-2 bg-green-700 shadow-md rounded-3xl">
                        <div id="Cxp-Notification-Left" class="flex flex-col justify-center items-start py-2 self-stretch flex-grow flex-1 m-0">
                            <div class="p-3.5 m-2 bg-green-900 rounded-full">
                                <svg class="w-5 h-5 fill-current text-white" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M34.6253 1.41418C35.9378 2.4205 36.1883 4.29921 35.1853 5.61426L17.63 28.6316C17.0213 29.4298 16.0986 29.9258 15.0986 29.9923C14.0986 30.0589 13.1186 29.6895 12.41 28.979L1.11296 17.6522C-0.0548956 16.4813 -0.0548976 14.5861 1.11296 13.4152L1.79263 12.7337C2.96484 11.5584 4.86864 11.5584 6.04085 12.7337L14.5188 21.234L29.6526 1.39145C30.6592 0.0716743 32.5462 -0.179919 33.8634 0.830021L34.6253 1.41418Z" />
                                </svg>
                            </div>
                        </div>
                        <div id="Cxp-Notification-Middle" class="flex flex-col py-3 ml-4 self-stretch flex-grow flex-auto m-0">
                            <h2 class="text-white text-2xl">Bien hecho!</h2>
                            <p class="text-white text-xs">Se realizo de forma correcta.</p>
                        </div>
                        <div id="Cxp-Notification-Right" class="flex flex-col justify-center items-end p-0 self-stretch flex-grow flex-1 m-0">
                            <div class="relative w-full h-full flex-none self-stretch flex-grow">
                                <button class="p-1 m-2 absolute right-0 top-1">
                                    <svg class="w-3 h-3 fill-current text-white" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.93934 16.9393C0.353553 17.5251 0.353553 18.4749 0.93934 19.0607C1.52513 19.6464 2.47487 19.6464 3.06066 19.0607L10 12.1213L16.9393 19.0607C17.5251 19.6465 18.4749 19.6465 19.0607 19.0607C19.6464 18.4749 19.6464 17.5251 19.0607 16.9393L12.1213 10L19.0607 3.06066C19.6464 2.47487 19.6464 1.52513 19.0607 0.93934C18.4749 0.353553 17.5251 0.353553 16.9393 0.93934L10 7.87868L3.06066 0.939342C2.47487 0.353556 1.52513 0.353556 0.93934 0.939342C0.353553 1.52513 0.353553 2.47488 0.93934 3.06066L7.87868 10L0.93934 16.9393Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 w-full max-w-xs">
                <div id="Cxp-Notification" class="relative mt-6">
                    <div id="Cxp-Notification-Wrapper" class="flex flex-row justify-between items-center px-2 bg-red-600 shadow-md rounded-3xl">
                        <div id="Cxp-Notification-Left" class="flex flex-col justify-center items-start py-2 self-stretch flex-grow flex-1 m-0">
                            <div class="p-3.5 m-2 bg-red-800 rounded-full">
                                <svg class="w-5 h-5 fill-current text-white" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.93934 16.9393C0.353553 17.5251 0.353553 18.4749 0.93934 19.0607C1.52513 19.6464 2.47487 19.6464 3.06066 19.0607L10 12.1213L16.9393 19.0607C17.5251 19.6465 18.4749 19.6465 19.0607 19.0607C19.6464 18.4749 19.6464 17.5251 19.0607 16.9393L12.1213 10L19.0607 3.06066C19.6464 2.47487 19.6464 1.52513 19.0607 0.93934C18.4749 0.353553 17.5251 0.353553 16.9393 0.93934L10 7.87868L3.06066 0.939342C2.47487 0.353556 1.52513 0.353556 0.93934 0.939342C0.353553 1.52513 0.353553 2.47488 0.93934 3.06066L7.87868 10L0.93934 16.9393Z" />
                                </svg>
                            </div>
                        </div>
                        <div id="Cxp-Notification-Middle" class="flex flex-col py-3 ml-4 self-stretch flex-grow flex-auto m-0">
                            <h2 class="text-white text-2xl">Cuidado!</h2>
                            <p class="text-white text-xs">Datos incorrectos.</p>
                        </div>
                        <div id="Cxp-Notification-Right" class="flex flex-col justify-center items-end p-0 self-stretch flex-grow flex-1 m-0">
                            <div class="relative w-full h-full flex-none self-stretch flex-grow">
                                <button class="p-1 m-2 absolute right-0 top-1">
                                    <svg class="w-3 h-3 fill-current text-white" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.93934 16.9393C0.353553 17.5251 0.353553 18.4749 0.93934 19.0607C1.52513 19.6464 2.47487 19.6464 3.06066 19.0607L10 12.1213L16.9393 19.0607C17.5251 19.6465 18.4749 19.6465 19.0607 19.0607C19.6464 18.4749 19.6464 17.5251 19.0607 16.9393L12.1213 10L19.0607 3.06066C19.6464 2.47487 19.6464 1.52513 19.0607 0.93934C18.4749 0.353553 17.5251 0.353553 16.9393 0.93934L10 7.87868L3.06066 0.939342C2.47487 0.353556 1.52513 0.353556 0.93934 0.939342C0.353553 1.52513 0.353553 2.47488 0.93934 3.06066L7.87868 10L0.93934 16.9393Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 w-full max-w-xs">
                <div id="Cxp-Notification" class="relative mt-6">
                    <div id="Cxp-Notification-Wrapper" class="flex flex-row justify-between items-center px-2 bg-yellow-500 shadow-md rounded-3xl">
                        <div id="Cxp-Notification-Left" class="flex flex-col justify-center items-start py-2 self-stretch flex-grow flex-1 m-0">
                            <div class="p-3.5 m-2 bg-yellow-700 rounded-full">
                                <svg class="w-5 h-5 fill-current text-white" viewBox="0 0 10 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 25C0.5 26.6569 1.84315 28 3.5 28H6.5C8.15686 28 9.5 26.6569 9.5 25L9.5 3C9.5 1.34315 8.15686 0 6.5 0H3.5C1.84315 0 0.5 1.34315 0.5 3V25ZM5 40C7.48528 40 9.5 37.9853 9.5 35.5C9.5 33.0147 7.48528 31 5 31C2.51472 31 0.5 33.0147 0.5 35.5C0.5 37.9853 2.51472 40 5 40Z" />
                                </svg>
                            </div>
                        </div>
                        <div id="Cxp-Notification-Middle" class="flex flex-col py-3 ml-4 self-stretch flex-grow flex-auto m-0">
                            <h2 class="text-white text-2xl">Atención!</h2>
                            <p class="text-white text-xs">Ingrese datos correctos.</p>
                        </div>
                        <div id="Cxp-Notification-Right" class="flex flex-col justify-center items-end p-0 self-stretch flex-grow flex-1 m-0">
                            <div class="relative w-full h-full flex-none self-stretch flex-grow">
                                <button class="p-1 m-2 absolute right-0 top-1">
                                    <svg class="w-3 h-3 fill-current text-white" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.93934 16.9393C0.353553 17.5251 0.353553 18.4749 0.93934 19.0607C1.52513 19.6464 2.47487 19.6464 3.06066 19.0607L10 12.1213L16.9393 19.0607C17.5251 19.6465 18.4749 19.6465 19.0607 19.0607C19.6464 18.4749 19.6464 17.5251 19.0607 16.9393L12.1213 10L19.0607 3.06066C19.6464 2.47487 19.6464 1.52513 19.0607 0.93934C18.4749 0.353553 17.5251 0.353553 16.9393 0.93934L10 7.87868L3.06066 0.939342C2.47487 0.353556 1.52513 0.353556 0.93934 0.939342C0.353553 1.52513 0.353553 2.47488 0.93934 3.06066L7.87868 10L0.93934 16.9393Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 w-full max-w-xs">
                <div id="Cxp-Notification" class="relative mt-6">
                    <div id="Cxp-Notification-Wrapper" class="flex flex-row justify-between items-center px-2 bg-blue-500 shadow-md rounded-3xl">
                        <div id="Cxp-Notification-Left" class="flex flex-col justify-center items-start py-2 self-stretch flex-grow flex-1 m-0">
                            <div class="p-3.5 m-2 bg-blue-800 rounded-full">
                                <svg class="w-5 h-5 fill-current text-white" viewBox="0 0 10 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 15C9.5 13.3431 8.15685 12 6.5 12L3.5 12C1.84314 12 0.499997 13.3431 0.499997 15L0.499998 37C0.499998 38.6569 1.84314 40 3.5 40L6.5 40C8.15685 40 9.5 38.6569 9.5 37L9.5 15ZM5 3.93402e-07C2.51472 6.10673e-07 0.499997 2.01472 0.499997 4.5C0.499997 6.98528 2.51472 9 5 9C7.48528 9 9.5 6.98528 9.5 4.5C9.5 2.01472 7.48528 1.76132e-07 5 3.93402e-07Z" />
                                </svg>
                            </div>
                        </div>
                        <div id="Cxp-Notification-Middle" class="flex flex-col py-3 ml-4 self-stretch flex-grow flex-auto m-0">
                            <h2 class="text-white text-2xl">Info!</h2>
                            <p class="text-white text-xs">Usuario 1 gastó $xxx</p>
                        </div>
                        <div id="Cxp-Notification-Right" class="flex flex-col justify-center items-end p-0 self-stretch flex-grow flex-1 m-0">
                            <div class="relative w-full h-full flex-none self-stretch flex-grow">
                                <button class="p-1 m-2 absolute right-0 top-1">
                                    <svg class="w-3 h-3 fill-current text-white" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.93934 16.9393C0.353553 17.5251 0.353553 18.4749 0.93934 19.0607C1.52513 19.6464 2.47487 19.6464 3.06066 19.0607L10 12.1213L16.9393 19.0607C17.5251 19.6465 18.4749 19.6465 19.0607 19.0607C19.6464 18.4749 19.6464 17.5251 19.0607 16.9393L12.1213 10L19.0607 3.06066C19.6464 2.47487 19.6464 1.52513 19.0607 0.93934C18.4749 0.353553 17.5251 0.353553 16.9393 0.93934L10 7.87868L3.06066 0.939342C2.47487 0.353556 1.52513 0.353556 0.93934 0.939342C0.353553 1.52513 0.353553 2.47488 0.93934 3.06066L7.87868 10L0.93934 16.9393Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private async Task ToggleMode()
    {
        await JS.InvokeVoidAsync("toggleMode");
    }
}
