@page "/juntada"

    <div class="flex flex-col justify-between items-center flex-none self-stretch flex-grow-0">
        <CxpBreadcrumb></CxpBreadcrumb>
    </div>
    <h3>Juntada</h3>


    @code {

    }
