@page "/juntada"
@page "/juntada/{id:int}"

@if (meeting != null)
{
    <CxpBreadcrumb MeetingName="@(meeting.Name)" MeetingDate="@(meeting.Date)"></CxpBreadcrumb>

    <div id="Cpx-Juntada-Content" class="flex flex-wrap justify-center pt-12 pb-28 px-1 max-w-xl mx-auto">

        <CxpAddEditFriendCard @ref="cxpAddEdifRef" OnAddFriendButtonClick="AddFriend" OnButtonCloseClick="CalcelEditFriend" OnButtonOkClick="OkEditFriend"></CxpAddEditFriendCard>

        @foreach (var _friend in meeting.Friends)
        {
            <CxpFriendCard friend="_friend" OnButtonDeleteClickEvent="DeleteFriend" OnButtonEditClickEvent="EditFriend"></CxpFriendCard>
        }

        @if (meeting.Payments != null)
        {
            <CxpMeetingResult meeting="meeting"></CxpMeetingResult>
        }
    </div>
}

@code {
    CxpAddEditFriendCard cxpAddEdifRef = new CxpAddEditFriendCard();
    Friend friend;

    [Parameter]
    public int id { get; set; }

    [Parameter]
    public Meeting meeting { get; set; }

    protected async override Task OnInitializedAsync()
    {
        meeting = await MeetingGeneratorHelper.Generate();
    }

    private void AddFriend()
    {
        friend = new Friend();
        friend.Amount = 0;
        friend.Name = "";
        friend.CxpAmout = 0;
        friend.State = FriendState.Adding;

        cxpAddEdifRef.EditingFriend = friend;

        friend = null;
    }

    private void OkEditFriend()
    {
        friend = cxpAddEdifRef.EditingFriend;
        friend.State = FriendState.Save;
        meeting.Friends.Add(friend);
        cxpAddEdifRef.EditingFriend = null;
    }

    private void CalcelEditFriend()
    {
        friend = cxpAddEdifRef.EditingFriend;
        if (friend.State == FriendState.Adding)
        {
            cxpAddEdifRef.EditingFriend = null;
        }
        else
        {
            friend.State = FriendState.Save;
            meeting.Friends.Add(friend);
            cxpAddEdifRef.EditingFriend = null;
        }
    }


    private void DeleteFriend(Friend fr)
    {
        meeting.Friends.Remove(fr);
    }

    private void EditFriend(Friend fr)
    {
        meeting.Friends.Remove(fr);
        friend = fr;
        friend.State = FriendState.Editig;
        cxpAddEdifRef.EditingFriend = friend;
        friend = null;
    }
}
