    
    .pageheadercxp {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 150px;
    }

    .logo {
        max-width: 317px;
    }

    .help-block {
    color: #592323;
    border-left-color: #EC693C;
    border-right-color: #EC693C;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    height: 52px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0px;
    border-right-width: 2px;
    border-left-width: 2px;
    }


    /*pageheadercxpmobile {
       
        border-bottom: 1px solid #eee;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        */
      