

<MudPaper Class="d-flex justify-center align-center align-self-stretch px-7 py-2 rounded-xl" Elevation="3">
    <div class="d-flex align-center align-self-stretch flex-grow-1">
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary"></MudIconButton>
    </div>
    <div class="d-flex align-center align-self-stretch justify-center flex-grow-1">
        <MudIconButton Icon="@Icons.Material.Filled.GridView" Color="Color.Primary"></MudIconButton>
    </div>
    <div class="mt-n14 d-flex align-center align-self-stretch justify-end flex-grow-1">
        <MudFab Color="Color.Primary" Size="Size.Large" IconSize="Size.Large" Icon="@Icons.Material.Filled.Add" />
    </div>
</MudPaper>


@code {

}
