@inject IJSRuntime JS
@inject Services.MeetingService meetingService
@inject ILocalStorageService localStore
@inject NavigationManager navigationManager

<div id="Cxp-Navbar" class="">
    <div id="Cxp-Navbar-Wrapper" class="flex flex-row justify-between items-center px-5 bg-white dark:bg-black shadow-md dark:shadow-light-md rounded-2xl">
        <div id="Cxp-Navbar-Left" class="flex flex-col justify-center items-start p-0 self-stretch flex-grow flex-1 m-0">
            <NavLink href="/" class="p-1 m-2">
                <svg class="w-7 h-7 fill-current text-orange-500" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.9737 2.06683C13.1934 2.0316 13.3386 1.94632 13.6297 2.03273C13.4375 1.56152 12.9893 0.621568 12.6767 0.185887C12.6497 0.148858 12.6169 0.117482 12.5824 0.0909118C12.58 0.0895927 12.5769 0.0863891 12.5769 0.0863891C12.4471 -0.00896318 12.2798 -0.0303515 12.1671 0.0472872C12.1651 0.0479467 12.1634 0.0494543 12.1616 0.0504907C12.0158 0.149706 12.0087 0.35982 12.1267 0.519432C12.3878 0.878228 12.8049 1.68448 12.9737 2.06683Z" />
                    <path d="M21.2771 14.2761C21.2823 14.2857 21.2873 14.296 21.2919 14.3065C22.3364 16.716 22.2172 19.4805 20.9884 21.3488C20.0257 22.8116 18.3187 23.7238 16.1814 23.9175C15.6511 23.9654 15.1152 23.9797 14.5924 23.96C14.3592 23.9513 14.1579 23.8637 14.0537 23.7258C13.9733 23.6192 13.9528 23.4858 13.9942 23.3398C14.0259 23.2279 14.102 23.1385 14.1757 23.0521C14.2209 22.9994 14.2639 22.9493 14.2946 22.8964C14.3795 22.7514 14.4343 22.6265 14.4677 22.5039C14.5483 22.206 14.5619 21.9163 14.507 21.666C14.3639 21.0133 13.9489 20.5676 13.3969 20.4741C13.3086 20.4592 13.2183 20.4516 13.1286 20.4516C12.5493 20.4516 12.0113 20.7657 11.7577 21.2518C11.4579 21.8261 11.5153 22.5178 11.9039 23.0139C12.04 23.1876 12.1908 23.4143 12.1478 23.6249C12.1242 23.7402 12.0454 23.8366 11.9139 23.9111C11.8085 23.9709 11.6648 24 11.4747 24C11.2652 24 11.0319 23.9639 10.8446 23.9349L10.8359 23.9336C10.7623 23.9222 10.6943 23.9117 10.6357 23.9046C9.12484 23.7241 7.08803 23.1282 5.96451 21.3148C5.0482 19.8359 4.76808 17.8488 5.19599 15.8634C5.33702 15.2088 5.55055 14.5852 5.83354 14C10.6357 15.5 17.9444 10.669 12.349 3.32343C12.4978 3.30587 13.0484 3.32343 13.1995 3.32343C13.7246 3.32343 14.242 3.43188 14.7378 3.64425C15.575 4.00314 16.1769 4.60164 16.4326 5.32649C16.7069 6.10419 16.7136 6.95144 16.4516 7.70634C16.0566 8.84331 15.2785 9.77488 14.5262 10.669C14.2306 11.0202 13.9249 11.3971 13.6475 11.7674C13.0319 12.5894 12.6127 13.4968 12.4017 14.4103C12.1803 15.368 12.205 16.1991 12.2685 17.2355H13.895C13.8567 16.1049 13.9016 14.8013 14.4762 13.6357C14.9394 12.6958 15.6276 11.8383 16.2931 11.062C16.504 10.8159 16.722 10.5615 16.9296 10.3067C17.0155 10.2014 17.0946 10.0842 17.1783 9.96021C17.303 9.77551 17.4324 9.58395 17.5858 9.43531C17.679 9.34495 17.8063 9.2951 17.9444 9.2951C18.0316 9.2951 18.1189 9.31546 18.1965 9.35409C18.3223 9.41637 18.3987 9.56693 18.5013 9.7892C18.646 10.1039 18.8072 10.4047 18.9801 10.6833C19.2507 11.1199 19.5552 11.5471 19.85 11.9603L19.8532 11.9647C20.3637 12.6811 20.8915 13.4217 21.2628 14.2393C21.268 14.2516 21.2731 14.264 21.2771 14.2761Z" />
                    <path d="M2.24983 5.66836H5.0663C5.22127 5.66836 5.3699 5.6069 5.47948 5.4975C5.58907 5.38811 5.65063 5.23974 5.65063 5.08503C5.65063 4.93032 5.58907 4.78194 5.47948 4.67255C5.3699 4.56315 5.22127 4.50169 5.0663 4.50169H3.31331C4.13231 3.41206 5.3075 2.64293 6.63508 2.32771C7.96265 2.01249 9.35886 2.17105 10.5816 2.7759C11.8043 3.38075 12.7764 4.39373 13.3293 5.63917C13.8823 6.88461 13.9811 8.28396 13.6087 9.59453C13.2363 10.9051 12.4162 12.0442 11.2906 12.8144C10.165 13.5845 8.80491 13.9371 7.44616 13.811C6.08742 13.6849 4.81574 13.088 3.85168 12.1238C2.88761 11.1597 2.29196 9.88916 2.16802 8.53252C2.16432 8.45388 2.14472 8.37679 2.11038 8.30591C2.07605 8.23504 2.0277 8.17183 1.96824 8.1201C1.90879 8.06837 1.83946 8.0292 1.76443 8.00493C1.68941 7.98066 1.61024 7.97181 1.53169 7.9789C1.45315 7.986 1.37685 8.00889 1.30741 8.0462C1.23796 8.08351 1.1768 8.13447 1.1276 8.19601C1.07841 8.25755 1.04221 8.32839 1.02117 8.40427C1.00013 8.48015 0.994702 8.55949 1.0052 8.63752C1.15217 10.2417 1.84889 11.7463 2.97784 12.8973C4.10679 14.0483 5.59887 14.7754 7.20239 14.9559C8.8059 15.1364 10.4227 14.7593 11.7801 13.8881C13.1374 13.0169 14.1522 11.705 14.6533 10.1738C15.1544 8.64249 15.1112 6.98553 14.5308 5.48241C13.9504 3.97929 12.8685 2.722 11.4675 1.92263C10.0665 1.12326 8.43222 0.830743 6.84031 1.09442C5.2484 1.35809 3.7963 2.16182 2.72898 3.37003V2.16836C2.72898 2.01366 2.66741 1.86528 2.55783 1.75589C2.44825 1.64649 2.29962 1.58503 2.14465 1.58503C1.98967 1.58503 1.84105 1.64649 1.73146 1.75589C1.62188 1.86528 1.56032 2.01366 1.56032 2.16836V5.08503C1.56032 5.23974 1.62188 5.38811 1.73146 5.4975C1.84105 5.6069 1.98967 5.66836 2.14465 5.66836H2.24983ZM7.40362 4.50169C7.5586 4.50169 7.70722 4.56315 7.81681 4.67255C7.92639 4.78194 7.98795 4.93032 7.98795 5.08503V8.00169H9.74095C9.89592 8.00169 10.0445 8.06315 10.1541 8.17254C10.2637 8.28194 10.3253 8.43031 10.3253 8.58502C10.3253 8.73973 10.2637 8.8881 10.1541 8.9975C10.0445 9.10689 9.89592 9.16835 9.74095 9.16835H7.40362C7.24865 9.16835 7.10002 9.10689 6.99044 8.9975C6.88086 8.8881 6.81929 8.73973 6.81929 8.58502V5.08503C6.81929 4.93032 6.88086 4.78194 6.99044 4.67255C7.10002 4.56315 7.24865 4.50169 7.40362 4.50169V4.50169Z" stroke-width="0.1" />
                </svg>
            </NavLink>
        </div>
        <div id="Cxp-Navbar-Middle" class="flex flex-col justify-center items-center p-0 self-stretch flex-grow flex-1 m-0">

            <div id="Cpx-Navbar-Items" class="@NavMenuCssClass absolute bottom-14 shadow-md dark:shadow-light bg-white dark:bg-black rounded-2xl">
                <div class="flex flex-col justify-evenly items-center space-y-5 py-5 px-5 rounded-2xl shadow-sm bg-white dark:bg-black">
                    <CxpSwitchTheme></CxpSwitchTheme>
                </div>
            </div>

            <button class="p-1 m-2" @onclick="ToggleNavMenu">
                <svg class="w-3 h-3 fill-current text-orange-500" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73959 0.400024H2.03082C0.909005 0.400024 0 1.31671 0 2.44799V5.17964C0 6.31093 0.909005 7.22761 2.03082 7.22761H4.73959C5.86141 7.22761 6.77041 6.31093 6.77041 5.17964V2.44799C6.77041 1.31671 5.86141 0.400024 4.73959 0.400024ZM13.9692 0.400024H11.2604C10.1386 0.400024 9.22959 1.31671 9.22959 2.44799V5.17964C9.22959 6.31093 10.1386 7.22761 11.2604 7.22761H13.9692C15.091 7.22761 16 6.31093 16 5.17964V2.44799C16 1.31671 15.091 0.400024 13.9692 0.400024ZM11.2604 9.57244H13.9692C15.091 9.57244 16 10.4891 16 11.6204V14.3521C16 15.4826 15.091 16.4 13.9692 16.4H11.2604C10.1386 16.4 9.22959 15.4826 9.22959 14.3521V11.6204C9.22959 10.4891 10.1386 9.57244 11.2604 9.57244ZM4.73959 9.57239H2.03082C0.909005 9.57239 0 10.4891 0 11.6204V14.352C0 15.4825 0.909005 16.4 2.03082 16.4H4.73959C5.86141 16.4 6.77041 15.4825 6.77041 14.352V11.6204C6.77041 10.4891 5.86141 9.57239 4.73959 9.57239Z" />
                </svg>
            </button>
        </div>
        <div id="Cxp-Navbar-Right" class="flex flex-col justify-center items-end p-0 self-stretch flex-grow flex-1 m-0">
            <div class="relative w-full h-full flex-none self-stretch flex-grow">
                @if (meetingService.ActualMeeting == null)
                {
                    <button @onclick="NewMeeting" class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light rounded-full p-5 absolute -top-7 right-0">
                        <svg class="w-4 h-4 fill-current text-orange-500" viewBox="0 0 24 23" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.71186 23V13.7415H0V9.16102H9.71186V0H14.2881V9.16102H24V13.7415H14.2881V23H9.71186Z" />
                        </svg>
                    </button>
                }
                else
                {
                    <button @onclick="ShareResults" disabled="@(meetingService.ActualMeeting.Friends.Count < 2)" class="group disabled:cursor-not-allowed dark:disabled:cursor-not-allowed dark:disabled:shadow-sm dark:disabled:shadow-md focus:outline-none bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light rounded-full p-5 absolute -top-7 right-0">
                        <svg class="w-4 h-4 stroke-current stroke-2 fill-current text-orange-500 group-disabled:text-orange-10 dark:group-disabled:text-orange-10 group-disabled:stroke-1 dark:group-disabled:stroke-1" viewBox="0 0 35 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.5833 0.787842C28.7014 0.787732 29.8018 1.06693 30.7846 1.60009C31.7674 2.13324 32.6014 2.90346 33.211 3.8408C33.8205 4.77813 34.1863 5.85289 34.275 6.96746C34.3637 8.08203 34.1726 9.20111 33.719 10.2231C33.2654 11.245 32.5637 12.1375 31.6776 12.8194C30.7915 13.5013 29.7491 13.951 28.645 14.1278C27.541 14.3045 26.4103 14.2027 25.3556 13.8315C24.3009 13.4603 23.3557 12.8315 22.6057 12.0023L13.8696 16.9933C14.2787 18.2992 14.2787 19.6989 13.8696 21.0048L22.6038 25.9997C23.7143 24.7726 25.239 23.999 26.8851 23.8276C28.5312 23.6561 30.1826 24.0988 31.5222 25.0707C32.8618 26.0426 33.7951 27.4751 34.1428 29.0932C34.4906 30.7112 34.2283 32.4007 33.4064 33.8372C32.5844 35.2736 31.2608 36.3558 29.6896 36.8758C28.1184 37.3958 26.4105 37.3171 24.8939 36.6547C23.3773 35.9922 22.1588 34.7928 21.4726 33.2868C20.7863 31.7808 20.6807 30.0743 21.1759 28.4952L12.4416 23.4984C11.5319 24.5043 10.3388 25.211 9.01957 25.5255C7.70029 25.8399 6.31671 25.7473 5.05109 25.2599C3.78547 24.7725 2.6972 23.9131 1.92963 22.795C1.16207 21.6768 0.751221 20.3524 0.751221 18.9962C0.751221 17.6399 1.16207 16.3155 1.92963 15.1974C2.6972 14.0793 3.78547 13.2199 5.05109 12.7325C6.31671 12.2451 7.70029 12.1525 9.01957 12.4669C10.3388 12.7813 11.5319 13.488 12.4416 14.4939L21.1759 9.50293C20.8617 8.49788 20.7883 7.43301 20.9618 6.39437C21.1352 5.35574 21.5506 4.37248 22.1744 3.52408C22.7981 2.67568 23.6127 1.98594 24.5524 1.5106C25.492 1.03527 26.5303 0.787677 27.5833 0.787842ZM27.5833 26.6628C26.5656 26.6628 25.5896 27.0671 24.87 27.7867C24.1504 28.5063 23.7461 29.4823 23.7461 30.5C23.7461 31.5177 24.1504 32.4937 24.87 33.2133C25.5896 33.9329 26.5656 34.3372 27.5833 34.3372C28.601 34.3372 29.577 33.9329 30.2966 33.2133C31.0162 32.4937 31.4205 31.5177 31.4205 30.5C31.4205 29.4823 31.0162 28.5063 30.2966 27.7867C29.577 27.0671 28.601 26.6628 27.5833 26.6628ZM7.46213 15.1628C6.44445 15.1628 5.46845 15.5671 4.74885 16.2867C4.02924 17.0063 3.62497 17.9823 3.62497 19C3.62497 20.0177 4.02924 20.9937 4.74885 21.7133C5.46845 22.4329 6.44445 22.8372 7.46213 22.8372C8.47981 22.8372 9.45581 22.4329 10.1754 21.7133C10.895 20.9937 11.2993 20.0177 11.2993 19C11.2993 17.9823 10.895 17.0063 10.1754 16.2867C9.45581 15.5671 8.47981 15.1628 7.46213 15.1628ZM27.5833 3.66284C26.5656 3.66284 25.5896 4.06711 24.87 4.78672C24.1504 5.50633 23.7461 6.48233 23.7461 7.50001C23.7461 8.51769 24.1504 9.49369 24.87 10.2133C25.5896 10.9329 26.5656 11.3372 27.5833 11.3372C28.601 11.3372 29.577 10.9329 30.2966 10.2133C31.0162 9.49369 31.4205 8.51769 31.4205 7.50001C31.4205 6.48233 31.0162 5.50633 30.2966 4.78672C29.577 4.06711 28.601 3.66284 27.5833 3.66284Z" />
                        </svg>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "visible" : "invisible";

    protected override void OnInitialized()
    {
        meetingService.OnChange += StateHasChanged;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task ShareResults()
    {
        await JS.InvokeVoidAsync("shareResults", meetingService.ActualMeeting.ShareResultText);
    }

    private async void NewMeeting()
    {
        meetingService.ActualMeeting = new Meeting()
        {
            Id = 1,
            Date = DateTime.Now,
            Name = "Juntada",
            Friends = new List<Friend>()
        };

        await localStore.SetItemAsync(meetingService.ActualMeetingKey, meetingService.ActualMeeting);
        
        navigationManager.NavigateTo("/juntada");
    }
}
