@inject IJSRuntime JS

<div id="Cxp-Navbar" class="">
    <div id="Cxp-Navbar-Wrapper" class="flex flex-row justify-between items-center px-5 bg-white dark:bg-black shadow-md dark:shadow-light-md rounded-2xl">
        <div id="Cxp-Navbar-Left" class="flex flex-col justify-center items-start p-0 self-stretch flex-grow flex-1 m-0">
            <NavLink href="/" class="p-1 m-2">
                <svg class="w-7 h-7 fill-current text-orange-500" viewBox="0 0 32 45" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path d="M30.6731 26.6488C30.6828 26.6667 30.6919 26.6859 30.7003 26.7054C32.6173 31.2032 32.3986 36.3635 30.1433 39.8511C28.3765 42.5816 25.2437 44.2845 21.3212 44.6459C20.3479 44.7355 19.3643 44.7622 18.4048 44.7254C17.9769 44.7091 17.6073 44.5455 17.4162 44.2882C17.2686 44.0893 17.2309 43.8402 17.307 43.5676C17.3651 43.3587 17.5049 43.1919 17.6401 43.0306L17.6403 43.0305C17.7232 42.932 17.8018 42.8387 17.8582 42.7399C18.0141 42.4692 18.1146 42.2362 18.176 42.0072C18.3239 41.4512 18.3487 40.9104 18.2481 40.4433C17.9854 39.2248 17.2238 38.3928 16.2107 38.2184C16.0487 38.1906 15.8829 38.1763 15.7182 38.1763C14.6552 38.1763 13.6677 38.7625 13.2023 39.6701C12.6521 40.7421 12.7574 42.0332 13.4707 42.9592C13.7205 43.2836 13.9971 43.7067 13.9182 44.0998C13.8748 44.3151 13.7303 44.495 13.489 44.6341C13.2956 44.7456 13.0318 44.8 12.683 44.8C12.2984 44.8 11.8703 44.7326 11.5265 44.6785L11.5106 44.676C11.3754 44.6548 11.2507 44.6352 11.1431 44.622C8.37022 44.285 4.63207 43.1726 2.57009 39.7876C0.888391 37.027 0.374279 33.3178 1.15963 29.6117C1.55062 27.7658 2.24532 26.052 3.22429 24.5176C3.66332 23.8291 4.14877 23.1567 4.61886 22.5056L4.63534 22.4828C5.17246 21.7394 5.72775 20.9709 6.21474 20.1787C6.64962 19.4715 7.13304 18.6256 7.42123 17.7137C7.6484 16.9942 7.72513 16.2798 7.80633 15.5236L7.80779 15.51C7.82979 15.3049 7.85186 15.0991 7.87735 14.8922C8.14181 12.7444 8.70196 11.0506 9.58992 9.71413C11.0507 7.51545 13.3904 6.20374 15.8485 6.20374C16.8121 6.20374 17.7616 6.40617 18.6717 6.80261C20.2082 7.47254 21.3128 8.58973 21.7821 9.94278C22.2855 11.3945 22.2978 12.976 21.8169 14.3852C21.092 16.5075 19.6641 18.2464 18.2832 19.9154C17.7408 20.5711 17.1797 21.2746 16.6706 21.9658C15.5408 23.5002 14.7715 25.1941 14.3841 26.8992C13.9778 28.6869 14.0231 30.2383 14.1398 32.173H17.1249C17.0546 30.0624 17.1369 27.6291 18.1915 25.4533C19.0417 23.6987 20.3047 22.0982 21.526 20.6491C21.9131 20.1897 22.3132 19.7149 22.6943 19.2391C22.8519 19.0427 22.9972 18.8239 23.1506 18.5924L23.1513 18.5914C23.3802 18.2467 23.617 17.89 23.8985 17.6126C24.0696 17.4439 24.3032 17.3509 24.5566 17.3509C24.7167 17.3509 24.8769 17.3889 25.0193 17.461C25.2503 17.5772 25.3905 17.8583 25.5788 18.2732C25.8443 18.8606 26.1402 19.422 26.4575 19.9421C26.9541 20.7571 27.513 21.5546 28.054 22.3258L28.0599 22.3341C28.9969 23.6714 29.9656 25.0539 30.6469 26.58C30.6565 26.6031 30.6658 26.6261 30.6731 26.6488Z" />
                    </g>
                    <g>
                        <path d="M15.434 3.85809C15.8371 3.79231 16.1036 3.63314 16.6378 3.79442C16.2852 2.91484 15.4626 1.16026 14.8889 0.34699C14.8392 0.277869 14.7791 0.2193 14.7158 0.169702C14.7113 0.16724 14.7084 0.16337 14.7058 0.16126C14.4675 -0.0167313 14.1604 -0.0566561 13.9536 0.0882694C13.9499 0.0895006 13.9468 0.0923146 13.9434 0.0942493C13.6759 0.279451 13.6629 0.671665 13.8794 0.969606C14.3587 1.63936 15.1242 3.14437 15.434 3.85809Z" />
                    </g>
                </svg>
            </NavLink>
        </div>
        <div id="Cxp-Navbar-Middle" class="flex flex-col justify-center items-center p-0 self-stretch flex-grow flex-1 m-0">

            <div  id="Cpx-Navbar-Items" class="@NavMenuCssClass absolute bottom-20 shadow-md dark:shadow-light bg-white dark:bg-black rounded-2xl">
                <div class="flex flex-col justify-evenly items-center space-y-5 py-5 px-5 rounded-2xl shadow-sm bg-white dark:bg-black">
                    <button @ref="CpxNavbarItems" class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light px-4 py-2 text-sm font-extrabold rounded-xl">Historial</button>
                    <CxpSwitchTheme></CxpSwitchTheme>
                </div>
            </div>

            <button class="p-1 m-2" @onclick="ToggleNavMenu">
                <svg class="w-3 h-3 fill-current text-orange-500" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73959 0.400024H2.03082C0.909005 0.400024 0 1.31671 0 2.44799V5.17964C0 6.31093 0.909005 7.22761 2.03082 7.22761H4.73959C5.86141 7.22761 6.77041 6.31093 6.77041 5.17964V2.44799C6.77041 1.31671 5.86141 0.400024 4.73959 0.400024ZM13.9692 0.400024H11.2604C10.1386 0.400024 9.22959 1.31671 9.22959 2.44799V5.17964C9.22959 6.31093 10.1386 7.22761 11.2604 7.22761H13.9692C15.091 7.22761 16 6.31093 16 5.17964V2.44799C16 1.31671 15.091 0.400024 13.9692 0.400024ZM11.2604 9.57244H13.9692C15.091 9.57244 16 10.4891 16 11.6204V14.3521C16 15.4826 15.091 16.4 13.9692 16.4H11.2604C10.1386 16.4 9.22959 15.4826 9.22959 14.3521V11.6204C9.22959 10.4891 10.1386 9.57244 11.2604 9.57244ZM4.73959 9.57239H2.03082C0.909005 9.57239 0 10.4891 0 11.6204V14.352C0 15.4825 0.909005 16.4 2.03082 16.4H4.73959C5.86141 16.4 6.77041 15.4825 6.77041 14.352V11.6204C6.77041 10.4891 5.86141 9.57239 4.73959 9.57239Z" />
                </svg>
            </button>
        </div>
        <div id="Cxp-Navbar-Right" class="flex flex-col justify-center items-end p-0 self-stretch flex-grow flex-1 m-0">
            <div class="relative w-full h-full flex-none self-stretch flex-grow">
                <NavLink href="juntada" class="bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light rounded-full p-5 absolute -top-7 right-0">
                    <svg class="w-4 h-4 fill-current text-orange-500" viewBox="0 0 24 23" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.71186 23V13.7415H0V9.16102H9.71186V0H14.2881V9.16102H24V13.7415H14.2881V23H9.71186Z" />
                    </svg>
                </NavLink>
            </div>
        </div>
    </div>
</div>

@code {
    ElementReference CpxNavbarItems;

    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "visible" : "invisible";

    private async void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        await Task.Delay(50);
        await CpxNavbarItems.FocusAsync();
    }
}
