
<div Class="flex flex-row justify-center items-center px-5 py-3 self-stretch bg-white shadow-md rounded-2xl">
    <div class="flex flex-col justify-center items-start flex-1 self-stretch flex-grow m-0">
        <svg class="w-9 h-9" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
                <path d="M11.9737 2.06683C12.1934 2.0316 12.3386 1.94632 12.6297 2.03273C12.4375 1.56152 11.9893 0.621568 11.6767 0.185887C11.6497 0.148858 11.6169 0.117482 11.5824 0.0909118C11.58 0.0895927 11.5784 0.0875198 11.5769 0.0863891C11.4471 -0.00896318 11.2798 -0.0303515 11.1671 0.0472872C11.1651 0.0479467 11.1634 0.0494543 11.1616 0.0504907C11.0158 0.149706 11.0087 0.35982 11.1267 0.519432C11.3878 0.878228 11.8049 1.68448 11.9737 2.06683Z" fill="#EC693C" />
                <path d="M20.2771 14.2761C20.2823 14.2857 20.2873 14.296 20.2919 14.3065C21.3364 16.716 21.2172 19.4805 19.9884 21.3488C19.0257 22.8116 17.3187 23.7238 15.1814 23.9175C14.6511 23.9654 14.1152 23.9797 13.5924 23.96C13.3592 23.9513 13.1579 23.8637 13.0537 23.7258C12.9733 23.6192 12.9528 23.4858 12.9942 23.3398C13.0259 23.2279 13.102 23.1385 13.1757 23.0521L13.1758 23.052C13.221 22.9993 13.2639 22.9493 13.2946 22.8964C13.3795 22.7514 13.4343 22.6265 13.4677 22.5039C13.5483 22.206 13.5619 21.9163 13.507 21.666C13.3639 21.0133 12.9489 20.5676 12.3969 20.4741C12.3086 20.4592 12.2183 20.4516 12.1286 20.4516C11.5493 20.4516 11.0113 20.7657 10.7577 21.2518C10.4579 21.8261 10.5153 22.5178 10.9039 23.0139C11.04 23.1876 11.1908 23.4143 11.1478 23.6249C11.1242 23.7402 11.0454 23.8366 10.9139 23.9111C10.8085 23.9709 10.6648 24 10.4747 24C10.2652 24 10.0319 23.9639 9.84458 23.9349L9.83594 23.9336C9.76226 23.9222 9.69431 23.9117 9.63573 23.9046C8.12484 23.7241 6.08803 23.1282 4.96451 21.3148C4.0482 19.8359 3.76808 17.8488 4.19599 15.8634C4.40903 14.8745 4.78755 13.9564 5.32097 13.1345C5.56018 12.7656 5.82469 12.4054 6.08083 12.0566L6.08981 12.0443C6.38247 11.6461 6.68503 11.2344 6.95038 10.81C7.18733 10.4311 7.45073 9.97802 7.60776 9.48948C7.73154 9.10402 7.77335 8.7213 7.81759 8.31624L7.81839 8.30892C7.83037 8.19903 7.8424 8.08878 7.85629 7.97798C8.00038 6.82735 8.3056 5.91999 8.78942 5.204C9.58536 4.02613 10.8602 3.32343 12.1995 3.32343C12.7246 3.32343 13.242 3.43188 13.7378 3.64425C14.575 4.00314 15.1769 4.60164 15.4326 5.32649C15.7069 6.10419 15.7136 6.95144 15.4516 7.70634C15.0566 8.84331 14.2785 9.77488 13.5262 10.669C13.2306 11.0202 12.9249 11.3971 12.6475 11.7674C12.0319 12.5894 11.6127 13.4968 11.4017 14.4103C11.1803 15.368 11.205 16.1991 11.2685 17.2355H12.895C12.8567 16.1049 12.9016 14.8013 13.4762 13.6357C13.9394 12.6958 14.6276 11.8383 15.2931 11.062C15.504 10.8159 15.722 10.5615 15.9296 10.3067C16.0155 10.2014 16.0946 10.0842 16.1783 9.96021L16.1786 9.95971C16.3033 9.775 16.4324 9.58395 16.5858 9.43531C16.679 9.34495 16.8063 9.2951 16.9444 9.2951C17.0316 9.2951 17.1189 9.31546 17.1965 9.35409C17.3223 9.41637 17.3987 9.56693 17.5013 9.7892C17.646 10.1039 17.8072 10.4047 17.9801 10.6833C18.2507 11.1199 18.5552 11.5471 18.85 11.9603L18.8532 11.9647C19.3637 12.6811 19.8915 13.4217 20.2628 14.2393C20.268 14.2516 20.2731 14.264 20.2771 14.2761Z" fill="#EC693C" />
            </g>
        </svg>
    </div>
    <div class="flex flex-col justify-center items-center flex-1 self-stretch flex-grow">
        <svg class="w-4 h-4" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7154 0H12.6681C11.406 0 10.3834 1.03127 10.3834 2.30397V5.37708C10.3834 6.64979 11.406 7.68105 12.6681 7.68105H15.7154C16.9775 7.68105 18.0001 6.64979 18.0001 5.37708V2.30397C18.0001 1.03127 16.9775 0 15.7154 0ZM5.33205 3.71931e-05H2.28468C1.02263 3.71931e-05 0 1.03131 0 2.30401V5.37712C0 6.64982 1.02263 7.68109 2.28468 7.68109H5.33205C6.5941 7.68109 7.61673 6.64982 7.61673 5.37712V2.30401C7.61673 1.03131 6.5941 3.71931e-05 5.33205 3.71931e-05ZM12.6679 10.319H15.7153C16.9773 10.319 17.9999 11.3503 17.9999 12.623V15.6961C17.9999 16.9679 16.9773 18 15.7153 18H12.6679C11.4058 18 10.3832 16.9679 10.3832 15.6961V12.623C10.3832 11.3503 11.4058 10.319 12.6679 10.319ZM5.33205 10.3189H2.28468C1.02263 10.3189 0 11.3502 0 12.6229V15.696C0 16.9679 1.02263 18 2.28468 18H5.33205C6.5941 18 7.61673 16.9679 7.61673 15.696V12.6229C7.61673 11.3502 6.5941 10.3189 5.33205 10.3189Z" fill="#EC693C" />
        </svg>
    </div>
    <div class="flex flex-col justify-center items-end flex-1 self-stretch flex-grow">
        <button class="bg-white shadow-md rounded-full p-5 -mt-14">
            <svg class="w-5 h-5" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.71186 23V13.7415H0V9.16102H9.71186V0H14.2881V9.16102H24V13.7415H14.2881V23H9.71186Z" fill="#EC693C" />
            </svg>
        </button>
    </div>
</div>

@code {

}
