@inherits LayoutComponentBase
    
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="d-flex flex-column align-start px-6 pt-2 pb-7" Style="width: 100%; height:100vh; background: #F9F3EF;">
    <div class="cpx-main-index-header">
        <CxpBreadcrumb></CxpBreadcrumb>
    </div>
    <div Class="cxp-main-index-content">
        @Body
    </div>
    <div class="cxp-main-footer">
        <CxpNavMenu></CxpNavMenu>
    </div>
</MudLayout>
