@inherits LayoutComponentBase

<div class="flex flex-col items-start pt-4 px-5 pb-4 h-screen" Style="background: #F9F3EF;">
    <div class="flex flex-col justify-between items-center flex-none self-stretch flex-grow-0">
        <CxpBreadcrumb></CxpBreadcrumb>
    </div>
    <div Class="flex flex-col justify-center items-center flex-none self-stretch flex-grow my-4">
        @Body
    </div>
    <div class="flex flex-col justify-between items-center flex-none self-stretch flex-grow-0">
        <CxpNavMenu></CxpNavMenu>
    </div>
</div>
