@inherits LayoutComponentBase

<div id="page" class="relative mx-auto h-screen bg-orange-50 dark:bg-gray-950 overflow-auto">
    
    <div id="navbar" class="fixed z-10 inset-x-0 bottom-0 max-w-2xl mx-auto bg-orange-50 dark:bg-gray-950 px-5 pb-5 pt-6">
        <CxpNavMenu></CxpNavMenu>
    </div>

    <div id="main" Class="h-full flex flex-col  pb-28">
        @Body
    </div>

</div>