<div class="cxp-breadcrumb-wrapper">
    <h3 Class="cxp-breadcrumb-page">Juntada1</h3>
    <MudDatePicker  PickerVariant="PickerVariant.Dialog" @bind-Date="date" Class="cxp-breadcrumb-datepicker" Style="width: 126px; margin: 0px; align-self: flex-end;" />
</div>

@code {
    DateTime? date = DateTime.Today;
}
