<div id="Cxp-Breadcrumb" class="flex flex-row items-center px-2 flex-none flex-grow max-w-sm">
    <h2 class="text-lg font-extrabold text-orange-500 flex-none flex-grow mx-1">Juntada 1</h2>
    <h3 class="text-sm font-semibold text-orange-500 flex-none flex-grow-0 mx-4">Jue 6 May.</h3>
</div>

@code {
}
