@if (friend != null)
{
    <div class="relative p-2">
        <div class="flex flex-col items-end absolute right-0 top-0">
            <button @onclick="OnButtonDeleteClick" class="focus:outline-none bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light p-2 mb-1 rounded-xl">
                <svg class="w-3 h-3 fill-current text-orange-500" viewBox="0 0 29 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.222 2.52776V4.3333H27.8053C28.0926 4.3333 28.3682 4.44743 28.5713 4.65059C28.7745 4.85376 28.8886 5.1293 28.8886 5.41662C28.8886 5.70394 28.7745 5.97948 28.5713 6.18265C28.3682 6.38581 28.0926 6.49994 27.8053 6.49994H1.08332C0.796009 6.49994 0.520461 6.38581 0.317298 6.18265C0.114135 5.97948 0 5.70394 0 5.41662C0 5.1293 0.114135 4.85376 0.317298 4.65059C0.520461 4.44743 0.796009 4.3333 1.08332 4.3333H8.66659V2.52776C8.66659 1.13243 9.79903 0 11.1943 0H17.6943C19.0896 0 20.222 1.13243 20.222 2.52776ZM10.8332 2.52776C10.8332 2.43198 10.8713 2.34014 10.939 2.27241C11.0067 2.20469 11.0986 2.16665 11.1943 2.16665H17.6943C17.7901 2.16665 17.8819 2.20469 17.9496 2.27241C18.0174 2.34014 18.0554 2.43198 18.0554 2.52776V4.3333H10.8332V2.52776Z" />
                    <path d="M4.32863 8.92346C4.31628 8.78084 4.27578 8.64208 4.20948 8.5152C4.14318 8.38832 4.05239 8.27584 3.94236 8.18427C3.83233 8.09269 3.70524 8.02382 3.56844 7.98166C3.43163 7.93949 3.28783 7.92485 3.14534 7.9386C3.00284 7.95234 2.86448 7.99419 2.73826 8.06173C2.61204 8.12926 2.50045 8.22115 2.40995 8.33207C2.31945 8.44299 2.25184 8.57074 2.21101 8.70795C2.17018 8.84516 2.15695 8.9891 2.17209 9.13146L4.21163 30.2173C4.27263 30.8423 4.56408 31.4222 5.02921 31.8441C5.49435 32.2659 6.09987 32.4996 6.72783 32.4995H22.1601C22.7883 32.4995 23.394 32.2657 23.8592 31.8435C24.3244 31.4213 24.6157 30.8411 24.6763 30.2158L26.7173 9.13146C26.7449 8.84529 26.6577 8.55989 26.4748 8.33804C26.292 8.11618 26.0285 7.97605 25.7423 7.94847C25.4562 7.92089 25.1708 8.00811 24.9489 8.19096C24.7271 8.3738 24.5869 8.63729 24.5593 8.92346L22.5198 30.0064C22.5112 30.0958 22.4696 30.1788 22.4031 30.2391C22.3366 30.2995 22.2499 30.3329 22.1601 30.3328H6.72783C6.63802 30.3329 6.55141 30.2995 6.48491 30.2391C6.41841 30.1788 6.37678 30.0958 6.36816 30.0064L4.32863 8.92346Z" />
                    <path d="M10.4064 10.8346C10.5485 10.8262 10.6909 10.8459 10.8253 10.8925C10.9598 10.9392 11.0838 11.0119 11.1902 11.1064C11.2965 11.201 11.3832 11.3156 11.4453 11.4437C11.5074 11.5718 11.5436 11.7109 11.5519 11.8529L12.2741 24.1306C12.2909 24.4177 12.193 24.6998 12.0019 24.9147C11.8108 25.1297 11.5422 25.2599 11.255 25.2768C10.9679 25.2936 10.6858 25.1957 10.4709 25.0046C10.256 24.8135 10.1257 24.5449 10.1089 24.2577L9.38665 11.9801C9.37825 11.838 9.39793 11.6956 9.44457 11.5611C9.49121 11.4267 9.56389 11.3027 9.65846 11.1963C9.75303 11.0899 9.86764 11.0032 9.99573 10.9412C10.1238 10.8791 10.2629 10.8429 10.405 10.8346H10.4064ZM19.4962 11.9801C19.5131 11.6929 19.4152 11.4109 19.2241 11.1959C19.033 10.981 18.7643 10.8508 18.4772 10.8339C18.1901 10.817 17.908 10.9149 17.6931 11.106C17.4781 11.2972 17.3479 11.5658 17.331 11.8529L16.6088 24.1306C16.592 24.4175 16.6898 24.6994 16.8807 24.9142C17.0717 25.129 17.3402 25.2592 17.6271 25.2761C17.9141 25.2929 18.1959 25.1951 18.4108 25.0041C18.6256 24.8131 18.7557 24.5447 18.7726 24.2577L19.4948 11.9801H19.4962Z" />
                </svg>
            </button>
            <button @onclick="OnButtonEditClick" class="focus:outline-none bg-white dark:bg-black text-orange-500 shadow-md dark:shadow-light p-2 rounded-xl">
                <svg class="w-3 h-3 stroke-current text-orange-500" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.37028 2.13311L7.36693 3.12935L6.37028 2.13311ZM7.01119 1.25545L4.31629 3.95054C4.17704 4.0896 4.08208 4.26677 4.04336 4.45972L3.79443 5.70585L5.04048 5.45644C5.23341 5.41785 5.41034 5.32326 5.54963 5.18397L8.24453 2.48888C8.32551 2.40789 8.38975 2.31174 8.43358 2.20593C8.4774 2.10011 8.49996 1.9867 8.49996 1.87216C8.49996 1.75763 8.4774 1.64422 8.43358 1.5384C8.38975 1.43259 8.32551 1.33644 8.24453 1.25545C8.16355 1.17446 8.06741 1.11022 7.9616 1.06639C7.85579 1.02256 7.74238 1 7.62786 1C7.51333 1 7.39993 1.02256 7.29412 1.06639C7.18831 1.11022 7.09217 1.17446 7.01119 1.25545V1.25545Z" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M7.55841 6.64698V8.05876C7.55841 8.30838 7.45926 8.54777 7.28277 8.72428C7.10627 8.90078 6.86689 8.99994 6.61729 8.99994H1.44112C1.19152 8.99994 0.952143 8.90078 0.775648 8.72428C0.599154 8.54777 0.5 8.30838 0.5 8.05876V2.88223C0.5 2.63261 0.599154 2.39321 0.775648 2.21671C0.952143 2.0402 1.19152 1.94104 1.44112 1.94104H2.8528" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="flex flex-col items-center justify-around w-24 h-28 p-2 rounded-2xl shadow-md dark:shadow-light-md bg-white dark:bg-black">
            <div class="bg-orange-500 text-xs text-white py-3 px-3 rounded-full font-mono tracking-widest">@friend.Initials</div>
            <p class="font-bold text-xs text-center text-orange-500 w-24 overflow-hidden truncate">@friend.Name</p>
            <p class="text-center text-base text-black dark:text-white font-bold w-24 truncate">$@friend.Amount</p>
        </div>
    </div>
}

@code {
    [Parameter]
    public Friend friend { get; set; }

    [Parameter]
    public EventCallback<Friend> OnButtonDeleteClickEvent { get; set; }

    private async Task OnButtonDeleteClick()
    {
        await OnButtonDeleteClickEvent.InvokeAsync(friend);
    }

    [Parameter]
    public EventCallback<Friend> OnButtonEditClickEvent { get; set; }

    private async Task OnButtonEditClick()
    {
        await OnButtonEditClickEvent.InvokeAsync(friend);
    }

}
