
<div class="cxp-logo-wrapper">
    <img class="cxp-logo-isotipo @(IsSmallVersion ? "small":"")" src="./assets/images/logo/Isotipo.svg" />
    @if (!IsSmallVersion)
    {
        <img class="cxp-logo-logotipo" src="./assets/images/logo/Logotipo.svg" />
        <div class="cxp-logo-identificador px-8 mx-8">
            Herramienta para administrar
            gastos en juntadas.
        </div>
    }
</div>